[2022-08-15 21:08] akanso commented on #474
one thing to note here, is that multiple KubeRay instances do **not** improve performance, on the contrary, it might slow it down (due to leader election failure).

Since at any point in time **we should have only 1 ACTIVE instance** (for consistency), the value of adding more replicas is not that evident.

A good example is the K8s scheduler, there is only 1 instance of it in the cluster, and can

[2022-08-15 21:17] Jeffwan opened #475 "[Feature] host helm in github static site"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, we ask user to clone the repo and then install helm chart. This is inconvenient and not the best practice for installation. We should use tools like https://github.com/helm/chart-releaser to provide experience like

[co

[2022-08-15 21:18] DmitriGekhtman commented on #474
The KubeRay operator image is very small so it can quickly be pulled on another k8s node in case of machine failure.

I suppose you could have a real issue if a the operator's host K8s node goes down, there is no additional capacity in your K8s cluster, and your cluster autoscaler has to provision a new cloud instance. Probably heading into the realm of edge cases here.

[2022-08-15 21:55] DmitriGekhtman opened #476 "[Feature] Clean up init container configuration and startup sequence."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

At the moment, we instruct users to include an [init container](https://github.com/ray-project/kuberay/blob/a9d29281eea07824dbc01c7c16b26d5a91fdd226/ray-operator/config/samples/ray-cluster.complete.yaml#L107-L113) in each worker g

[2022-08-15 21:57] DmitriGekhtman commented on #475
Closing https://github.com/ray-project/kuberay/issues/260 in favor of this one, since this one is more recent and specific.

[2022-08-15 21:57] DmitriGekhtman commented on #260
Duplicate of https://github.com/ray-project/kuberay/issues/475

[2022-08-15 21:57] #260 closed

[2022-08-15 22:28] DmitriGekhtman commented on #466
Will pass that on :)

The particular user had to use an old Kubernetes version apparently due to internal constraints at their company.

[2022-08-15 22:29] akanso commented on #476
I think shielding the user from the init-container logic has its advantages.

We can have **the Operator add the init-container** in the pod. (We need to make sure here that we append it to the list of init containers that the user may have already defined for other purposes).

Since Helm is not the only way of deployment, I don't think we should add the init-container there since **some users of

[2022-08-15 22:39] DmitriGekhtman commented on #476
All Ray versions since ~1.4.0 have a cli command `ray health-check` that can health-check the GCS.

One idea is to use the Ray image for the init container and loop on
`ray health-check --address <head-service>:<port>`.

There's no overhead from pulling the Ray image, since you need it anyway to run Ray.

[2022-08-15 22:57] DmitriGekhtman commented on #441
@brucez-anyscale I tagged you mostly because you identified the particular issue with EKS
re: task assignment, feel free to claim it if you have time!

[2022-08-16 16:06] brucez-anyscale commented on #441
I can take it. Let me find some time to prepare a pr. Maybe later this week or next week.

[2022-08-16 22:16] peterghaddad opened #484 "[Bug] Scheduling GPU trials on CPU Workers"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator, Others

### What happened + What you expected to happen

When there are none CPU workers available, then Ray's autoscaler schedules the workers on GPU nodes. Even if GPUs requests were `0`.

This can be an inhibitor when it comes

[2022-08-17 03:38] Jeffwan commented on #484
/cc @DmitriGekhtman

[2022-08-17 04:32] DmitriGekhtman commented on #484
@peterghaddad would you mind posting config files and scripts for a minimal reproduction?

I don't 100% follow the description.

[2022-08-17 18:59] Jeffwan opened #489 "[Bug] nightly tag should not be pushed for release branch"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/4739316/185220365-02ef7b80-1b3e-4ab3-8f50-cf334a43558a.png)

There's a bug that if PR get merged in release branch, we still push nightl

[2022-08-17 22:00] Jeffwan commented on #489
Resolved in https://github.com/ray-project/kuberay/pull/490

[2022-08-17 22:00] #489 closed

[2022-08-18 17:50] Dhouti commented on #271
Try using `kubectl apply --server-side -f`

[2022-08-19 07:46] thien-nguyenthanh opened #495 "[Bug] The mismatched labels configured in RayCluster Helm chart"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I am using Kuberay helm chart to create a Ray cluster.
The service created by Ray operator is mislabeled so Ray worker cannot connect to Ray Head.

**Ray head's labels:**
[code]

**

[2022-08-19 13:11] Dixit91 opened #496 "[Bug] kubelet Back-off restarting failed container"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator, apiserver

### What happened + What you expected to happen

I am using Kuberay yaml to create a Ray cluster.
The kuberay-operator cannot run.

kubectl create -k kuberay-release-0.3/manifests/cluster-scope-resources
kubectl apply -

[2022-08-19 13:33] #496 closed

[2022-08-19 18:09] Jeffwan commented on #495
@thien-nguyenthanh Just like to confirm, seems you are using helm chart to create the ray-cluster, right?

[2022-08-20 06:55] thien-nguyenthanh commented on #495
That's right.

[2022-08-22 00:42] DmitriGekhtman opened #500 "[Feature] Add CI tests for Helm charts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Test Helm configuration in the CI.

The Helm charts are very easy to break.

We could take a look at testing strategies used by similar projects; no need to innovate.

[2022-08-22 20:47] richardsliu opened #502 "[Feature] Integrate KubeRay with Kubeflow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

KubeRay can be installed with other OSS ML Ops products (like Kubeflow) in the same Kubernetes cluster to provide an integrated platform.

Some benefits provided by Kubeflow that can be complementary to KubeRay:
* User profiles (a

[2022-08-24 01:45] DmitriGekhtman opened #503 "[Bug] Investigate slow Ray pod termination"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I've noticed that Ray pods often take a long time to terminate (minutes) after deleting a RayCluster CR.
We should investigate why that is the case.

### Reproduction script

Tear d

[2022-08-24 14:44] nilyin opened #504 "[Bug] Error "rayservices.ray.io" is invalid: metadata.annotations: Too long. when installing Ray Operator CRD"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

When installing CRD object with command below:

`kubectl apply -k "github.com/ray-project/kuberay/ray-operator/config/crd?ref=v0.3.0"`

I have got:

`Resource: "apiextensions.k8s.io

[2022-08-24 17:18] DmitriGekhtman commented on #504
This is a known issue -- you must `kubectl create` the CRD, not `kubectl apply`.
Closing as a duplicate of https://github.com/ray-project/kuberay/issues/271.

[2022-08-24 17:18] #504 closed

[2022-08-25 09:14] nilyin commented on #504
I see, thanks a lot. I was using Helm install guide for github readme page:
https://github.com/ray-project/kuberay/tree/master/helm-chart/kuberay-operator)

please correct the page with the command description.

[2022-08-25 14:51] DmitriGekhtman commented on #504
PR to update the helm readme: https://github.com/ray-project/kuberay/pull/505

[2022-08-25 17:51] DmitriGekhtman opened #506 "[Feature] [Governance] [RFC] Restrict write access"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

It appears that any member of the Ray project can merge KubeRay PRs **without review**.
That should be fixed up.

At the very least,
- Require an approving review to merge to master.

Possibly,
- Restrict write access (merge capab

[2022-08-25 17:51] DmitriGekhtman commented on #506
cc @Jeffwan @akanso @pcmoritz for thoughts

[2022-08-25 20:28] richardsliu opened #507 "[Bug] Ray client timeout errors using v0.3.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Using kuberay v0.3.0 (cluster version 1.21.13-gke.900), I am always seeing ray client timeout errors:

[code]

### Reproduction script

This is my job yaml:

[code]

### Anything el

[2022-08-25 23:53] Jeffwan commented on #507
@richardsliu Can you share the cluster pods & service status? Seem client can not connect to Ray service

1. make sure the service name is correct
2. Make sure there're endpoints for the service
3. Make sure head is up and running. Let's check /tmp/ray/xxx to see whether the main process reports any issue.

[2022-08-25 23:55] Jeffwan commented on #506
not sure if Github natively support it and we use other ways to achieve that. I am trying to see how Ray core does it?

[2022-08-26 00:00] DmitriGekhtman commented on #506
@pcmoritz would know, I think

[2022-08-26 00:17] richardsliu commented on #507
This is the service:

[code]

The cluster was deployed using the example cluster config here: https://github.com/ray-project/kuberay/blob/master/helm-chart/ray-cluster/values.yaml

I didn't see any obvious errors in the ray head, but the workers seem to have a lot of errors:

[code]

[2022-08-26 00:23] richardsliu commented on #507
Repro steps:

[code]

[2022-08-26 01:24] richardsliu commented on #507
Tried it again on clusters from https://github.com/ray-project/kuberay/tree/master/ray-operator/config/samples and it doesn't seem to repro, so it is likely a problem with the helm installation charts.

@Jeffwan

[2022-08-26 23:27] #349 closed

[2022-08-26 23:27] Jeffwan commented on #349
v0.3.0 has been officially released and we can close the issue https://github.com/ray-project/kuberay/releases/tag/v0.3.0

[2022-08-26 23:29] Jeffwan commented on #103
I think we should concentrate on notebook plugin rather than notebook itself.

[2022-08-27 02:34] james-tn opened #509 "[Feature] How to access ray serve from within K8s cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

I cannot access deployed Ray Serve service from another Pod within the same K8s.
From the same port, I can initialize ray client to the cluster using     `ray.init('ray://raycluster-autoscaler-head-svc.default.svc.cluster.local:10

[2022-08-29 15:12] james-tn opened #510 "[Bug] working_dir in RayService can only pull from https link?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I am testing ray serve using the ray[ service sample ](https://github.com/ray-project/kuberay/blob/master/ray-operator/config/samples/ray_v1alpha1_rayservice.yaml). It worked when t

[2022-08-29 15:14] james-tn commented on #509
I can access it from deploying https://github.com/ray-project/kuberay/blob/master/ray-operator/config/samples/ray_v1alpha1_rayservice.yaml but it would be nice to know the detail how to configure accessing Ray serve from your own ray cluster.

[2022-08-29 15:14] #509 closed

[2022-08-30 00:58] DmitriGekhtman opened #511 "[Feature][Helm] Enable sidecar configuration in Helm chart"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

For some applications (such as logging) it is useful to configure sidecar containers for Ray pods.
See for example discussion in https://github.com/ray-project/kuberay/issues/353
and logging documentation at https://docs.ray.io/en

[2022-08-30 17:44] jeethridge commented on #495
I've been experiencing the same issue. I think this is definitely a helm chart issue. I believe I've found a workaround whereby you can set the following in your local `values.yaml` file:

[code]

The default name is generated in :
`./helm-chart/ray-cluster/templates/_helpers.tpl`
fby splitting the Chart.Name value with the `-` delimiter and taking the first part of the name, which happens to be `

[2022-08-31 00:59] Jeffwan commented on #510
/cc @simon-mo  @brucez-anyscale

[2022-08-31 01:23] sigmundv opened #512 "[Bug] When using the new GCS FT feature, not able to connect to external Redis cluster with multiple master nodes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

When using the new GCS FT feature by applying the `ray.io/ft-enabled: "true"` annotation I'm not able to connect to an external Redis cluster with multiple master nodes. On the other hand

[2022-08-31 20:29] wilsonwang371 commented on #512
are you able to provide more information such as the head node logs?

[2022-08-31 21:38] wilsonwang371 opened #514 "[Bug] flaky test"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

need to improve flaky tests' stability

### Reproduction script

some of the ci test runs can fail due to flaky tests.

### Anything else

_No response_

### Are you willing to submit a PR?

[2022-08-31 22:58] Jeffwan opened #515 "[Bug] The README.md is not well-formatted"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/4739316/187798394-94e62725-5aeb-4e14-9011-46650c378495.png)

### Reproduction script

It's on the webpage and no need to reproduce.

###

[2022-08-31 22:59] Jeffwan commented on #515
/cc @Basasuya If you are interested in this issue, you can pick it up

[2022-08-31 23:18] DmitriGekhtman opened #516 "[Feature] [Test] KubeRay vs. Kubernetes version compatibility testing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

As part of the KubeRay release process, we should have automated tests that validate the latest release's compatibility with several recent Kubernetes versions.

Some thoughts on implementation:

- KinD or Minikube can be used for

[2022-08-31 23:18] DmitriGekhtman commented on #516
cc @wilsonwang371 @Jeffwan for thoughts

[2022-08-31 23:26] DmitriGekhtman opened #517 "[Feature] Auto-generated configuration references"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We should provide users with comprehensive configuration references for Custom Resources and Helm Charts.
It should be possible to generate these automatically.

Currently, we have commented example YAMLs, some prose how-to guides

[2022-09-01 00:26] kevin85421 opened #518 "[Feature] Support go1.18+"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, KubeRay only supports go1.16 and go1.17. When I try to build KubeRay with go1.19, it cannot download the binary of `controller-gen` successfully.

[code]

The root cause is that `go get` is deprecated ([Link](https://go

[2022-09-01 00:26] kevin85421 commented on #518
cc @DmitriGekhtman

[2022-09-01 00:32] DmitriGekhtman commented on #518
Thanks for helping us track this, @kevin85421 !
cc @Jeffwan @akanso as well

[2022-09-01 00:41] DmitriGekhtman commented on #512
@sigmundv could you also describe your Redis configuration at a high level?
What is the reason for using multiple masters?

[2022-09-01 00:48] kevin85421 opened #519 "[Feature] Generate new manifest and update generated API in pre-commit hook"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We need to keep two things synchronizing with `types.go`.

1. `types.go` should be synchronized with the CRD YAML file.
[code]
3. `types.go` should be synchronized with generated API (`pkg/client`)
[code]

In my opinion, we should

[2022-09-01 00:49] kevin85421 commented on #519
cc @DmitriGekhtman

[2022-09-01 02:04] DmitriGekhtman opened #520 "[Docs] Copy-editing"
The KubeRay documentation could use a round of copy-editing for grammar, style, content.

[2022-09-01 03:14] kevin85421 opened #521 "[Feature] Add consistency check for types.go, CRDs, and generated API in GitHub Actions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

As I mentioned in #519, the inconsistency between `types.go`, CRD YAML files, and generated API may cause wrong behaviors. Hence, we can add the consistency checks into GitHub Actions.

### Implementation:
1. We can use `./hack/ve

[2022-09-01 13:51] #484 closed

[2022-09-01 14:10] peterghaddad opened #522 "[Bug] Enable control-plane scaling"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

Currently when the Head Node pod is bounced the entire state of the Ray Cluster is lost, jobs end, and logs are lost.

This could be fixed with horizontally scaling the head node:
- Havin

[2022-09-01 17:12] kevin85421 commented on #521
cc @DmitriGekhtman

[2022-09-01 17:44] kevin85421 opened #523 "[Bug] KubeRay seems not to work on minikube on M1 macs."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I followed the instruction in the [document](https://docs.ray.io/en/latest/cluster/kubernetes/getting-started.html). When I try to deploy the ray cluster with [ray-cluster.autoscale

[2022-09-01 17:44] kevin85421 commented on #523
cc @DmitriGekhtman

[2022-09-01 18:24] kevin85421 opened #524 "[Bug] Failure happened when install operator with kubectl apply"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

I followed the [document](https://github.com/ray-project/kuberay/tree/master/ray-operator), and failed to deploy operator. I tried to revisit all documents about operator deployment, and

[2022-09-01 19:13] DmitriGekhtman commented on #523
Well...that's no good. Let me try to reproduce that.

What happens if you instead use KinD with the default set-up (`kind create cluster` with no arguments)?

[2022-09-01 19:26] DmitriGekhtman commented on #523
I'm also surprised by the `--num-cpus 2` that appeared in the container entry-point -- I'd expect it to be `--num-cpus 1`.

[2022-09-01 19:45] DmitriGekhtman commented on #524
create -k with the timeout is the way to go -- the action item here is to make sure that the docs consistently present that method.

The issue with applying the CRD is documented here:
https://github.com/ray-project/kuberay/issues/271

That issue arose when the CRD got too big.

[2022-09-01 21:44] DmitriGekhtman commented on #523
From our discussion, it looks like it might be specific to Minikube on M1 Macs.

[2022-09-01 22:24] wilsonwang371 opened #527 "[Feature] rolling upgrade design and implementation for Kuberay"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Right now we don't support Ray cluster rolling upgrade. This is a valid requirement for customers that has a large number of nodes in their Ray cluster deployment.

### Use case

support rolling upgrade of Ray clusters which can b

[2022-09-01 22:25] kevin85421 commented on #523
TODO: Try to use `kind` on M1 Macs. If I can still reproduce this bug on `kind` cluster, M1 is highly possible to be the root cause.

[2022-09-01 23:03] kevin85421 commented on #524
Resolved by https://github.com/ray-project/kuberay/pull/525.

[2022-09-01 23:03] #524 closed

[2022-09-01 23:19] kevin85421 opened #528 "[Bug] Ray GettingStarted tutorial causes head node OOM"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I tried to follow the [document](https://docs.ray.io/en/latest/cluster/kubernetes/getting-started.html) to build a simple ray cluster (1 head node + 1 worker node) and run a simple

[2022-09-01 23:20] kevin85421 commented on #528
cc @DmitriGekhtman

[2022-09-01 23:25] DmitriGekhtman commented on #528
It does seem we need at the very least to set the requests to at least 500MB.

[2022-09-02 02:51] kevin85421 commented on #528
Resolved by https://github.com/ray-project/kuberay/pull/529.

[2022-09-02 02:51] #528 closed

[2022-09-02 17:35] iycheng commented on #512
@sigmundv Ray right now doesn't support sharded redis cluster. It only supports Redis cluster with multiple replicas (HA). The one you mentioned is a sharded redis cluster.
Ray doesn't write a lot of data into redis, so sharding seems not that important for now.

[2022-09-02 17:35] #512 closed

[2022-09-02 22:43] simon-mo commented on #510
If the "local directory" means a directory in the docker image, then it should work!

[2022-09-06 06:11] DmitriGekhtman commented on #495
This was fixed in #530!

[2022-09-06 06:11] #495 closed

[2022-09-06 06:43] haoxins commented on #271
For the Argo CD users, maybe we can add some instructions into the document?
Just like I did for the Flink operator project
https://github.com/apache/flink-kubernetes-operator/blob/main/docs/content/docs/operations/helm.md#working-with-argo-cd

[2022-09-06 09:52] loleek opened #532 "[Bug] autoscaler not working properly in rayjob"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

When I submit a rayjob into k8s with autoscaler, the autoscaler not work properly. New pod did created but another pod terminated suddenly, and the number of pods equals replica in

[2022-09-06 11:14] loleek opened #533 "[Feature] allow submit rayjob when some worker nodes pending"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

when building a large scale of ray cluster in a rayjob, k8s may run out of resouces which causes some worker nodes pending.In this case, the ray cluster can already run job but rayjob think it is initializing, the job will wait fo

[2022-09-06 15:10] DmitriGekhtman commented on #271
@haoxins
That sounds good.
If you have a working set-up with Argo CD / Helm / KubeRay, feel free to open a PR adding the relevant info to the README!
https://github.com/ray-project/kuberay/blob/master/helm-chart/kuberay-operator/README.md

[2022-09-06 15:33] huadubadaniao opened #534 "[Bug] kustomization.yaml"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I cloned your project and manually deployed kuberay according to your documentation, but I found kustomization. In YAML, the file path is written under the resources, and the YAML f

[2022-09-06 16:21] haoxins commented on #271
https://github.com/ray-project/kuberay/pull/535

[2022-09-06 16:46] DmitriGekhtman opened #536 "[Task] Update RayCluster to v1beta1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

KubeRay CR resource versions are currently at v1alpha1. These should be upgraded, simply to signal the APIs’ stability. RayCluster should be upgraded now. RayService and RayJob can be upgraded later. The main task is to put in pla

[2022-09-06 19:12] tbabej opened #537 "[Bug] Helm chart install fails due to undefined worker key in values.yml"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

Installing the helm chart from the current master via

[code]

the installation fails with:

[code]

This happens because the `disabled` key on the default worker group is undefined.

###

[2022-09-06 22:12] Jeffwan commented on #516
This is a good idea. We should test against different kubernetes version. In last release, I manually launch 1.19-1.24 which is painful and we should definitely automate the process.

[2022-09-06 22:18] Jeffwan commented on #536
There's a dependency task to support multi-version API. (webhook or multiple controllers or other ways). With that supported, we can introduce v1beta1

[2022-09-07 04:18] DmitriGekhtman commented on #500
This is actually a duplicate of https://github.com/ray-project/kuberay/issues/184.

[2022-09-07 04:18] #500 closed

[2022-09-07 04:19] DmitriGekhtman commented on #532
Hi, can you share the configuration you used to deploy the RayJob?

[2022-09-07 04:21] DmitriGekhtman commented on #533
cc @harryge00 @Jeffwan
I'm personally a bit behind on the status of RayJob support.

[2022-09-07 04:22] DmitriGekhtman commented on #532
cc also @harryge00 @Jeffwan

[2022-09-07 04:28] DmitriGekhtman commented on #537
Someone else posted an issue about the same thing, but somehow I can't find it.

Also, I'm not able to reproduce this against master. It should be possible by running `helm template .` within the default ray-cluster chart, but I'm not seeing an error.

cc @kevin85421

[2022-09-07 04:30] DmitriGekhtman commented on #527
This would be great to have. Let's figure out a design...
Would we be aiming for something similar to rollouts for Deployments?

[2022-09-07 06:05] loleek commented on #532
The configuration in the "Reproduction script" part, [hp-pi-autoscale-job.txt](https://github.com/ray-project/kuberay/files/9495509/hp-pi-autoscale-job.txt) is the rayjob-spec.

[2022-09-07 12:33] Tellz777 opened #538 "[Bug] kuberay-operator helm chart v0.3.0 in the restart loop"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Tried to install kuberay-operator using helm chart from branch release-0.3. Nothing has been edited from my side.

But after installation in my cluster my kuberay-operator pod is re

[2022-09-07 12:57] jianyuan opened #539 "[Bug] RayService controller doesn't seem to respect the deploymentUnhealthySecondThreshold value on the first run"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

The RayService controller doesn't seem to respect the `deploymentUnhealthySecondThreshold` value on the first run.

Our deployment has a slow `__init__`/`reconfigure` method. During

[2022-09-07 14:45] DmitriGekhtman commented on #532
Perfect, thank you!

[2022-09-07 16:14] DmitriGekhtman commented on #538
It's a known issue that's been resolved in master.
Use the Helm charts pulled from master, or use kustomize/kubectl to deploy the underlying k8s objects.

[2022-09-07 16:15] DmitriGekhtman commented on #538
Also, be sure to deploy the CRDs using the commands provided in the docs.

[2022-09-07 16:19] DmitriGekhtman commented on #538
Actually -- there is an issue here:

The CRDs here: https://github.com/ray-project/kuberay/tree/master/ray-operator/config/crd don't match the ones here: https://github.com/ray-project/kuberay/tree/master/helm-chart/kuberay-operator/crds

The first link is currently the correct one to install CRDs -- the KubeRay maintainers need to automate a process that keeps the second directory in sync with th

[2022-09-07 16:33] DmitriGekhtman commented on #538
Here's the fix:
https://github.com/ray-project/kuberay/pull/541

To summarize, KubeRay Helm support is not yet stable -- kubectl and kustomize are preferred for now.

[2022-09-07 16:42] DmitriGekhtman opened #542 "[Helm] Auto-sync Helm configuration"
Our build/ci processes do not currently keep Helm chart configuration consistent with KubeBuilder-generated configs outside of Helm.

That should be fixed to avoid having to sync manually, as in https://github.com/ray-project/kuberay/pull/541.

[2022-09-07 17:27] Tellz777 commented on #538
thx

[2022-09-07 17:27] #538 closed

[2022-09-07 17:39] DmitriGekhtman commented on #539
cc @brucez-anyscale @sihanwang41 @shrekris-anyscale @architkulkarni @simon-mo

[2022-09-07 18:22] tbabej commented on #537
Not the behaviour I see on my end:

[code]

[2022-09-07 18:26] tbabej commented on #537
For reference, #543 implements the changes that were necessary on my end to get the chart working (really just a oneliner).

[2022-09-07 20:27] DmitriGekhtman commented on #537
Maybe it has something to do with Helm versions...

[2022-09-07 20:30] #537 closed

[2022-09-07 21:35] DmitriGekhtman opened #544 "[Helm][minor] Make "disabled" flag for worker groups optional"
This is a minor issue with the ray-cluster Helm chart.

It seems that leaving out the `disabled` flag from the default worker group may cause an error when deploying with Helm 3.7.2.

The RayCluster template should be modified such that the `disabled` flag can be removed without issue.
See https://github.com/ray-project/kuberay/issues/537 and https://github.com/ray-project/kuberay/pull/543.

The o

[2022-09-07 21:40] DmitriGekhtman commented on #542
Oops, this is a duplicate of https://github.com/ray-project/kuberay/issues/446.

[2022-09-07 21:40] #542 closed

[2022-09-07 21:45] DmitriGekhtman commented on #521
One form of consistency check is to run the code/yaml generation and make sure that the relevant files are unchanged.

[2022-09-07 21:49] DmitriGekhtman commented on #521
@kevin85421
I'll provisionally assign this one and #519 to you.

Resolving these would definitely improve the KubeRay dev process!

[2022-09-07 23:32] kevin85421 commented on #475
I opened a PR #545.

[2022-09-09 18:24] kevin85421 commented on #521
PR: https://github.com/ray-project/kuberay/pull/546

[2022-09-09 22:53] kevin85421 commented on #544
PR: #548

[2022-09-09 23:10] kevin85421 opened #549 "Revisit all exposed fields in helm charts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We need to revisit all exposed fields in helm charts to determine which one should be an optional argument for users. We need to explicitly set the default values for the optional fields. As mentioned in #548 #537, undefined argum

[2022-09-09 23:10] kevin85421 commented on #549
cc @DmitriGekhtman

[2022-09-09 23:18] kevin85421 opened #550 "[Feature] Add helm lint check in Github Actions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

In #537, there are some errors that only happen in old helm versions. Hence, if we add helm lint check with multiple helm versions in GitHub Actions, we can avoid #537.

### Use case

_No response_

### Related issues

#537
#544

[2022-09-10 05:12] tekumara commented on #289
I've tried this in kuberay 0.3.0 and the CRD is updated, but it's still not updating the existing pods to the new image.

[2022-09-10 14:53] haoxins opened #551 "Kuberay operator Deployment strategy type should be Recreate"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

We should change the `Kuberay operator` deployment's `strategy.type` from the default (`RollingUpdate`) to `Recreate` to avoid potential problems when a new operator pod is deployed

[2022-09-12 18:56] DmitriGekhtman commented on #521
Closed by https://github.com/ray-project/kuberay/pull/546!

[2022-09-12 18:56] #521 closed

[2022-09-12 19:33] #544 closed

[2022-09-12 19:40] DmitriGekhtman opened #553 "[Feature] [Helm] Work out versioning and release story for Helm charts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

KubeRay master helm charts are hosted in a helm repo as of https://github.com/ray-project/kuberay/pull/545!
Now, we need to figure out versioning and release processes.

We need to do the following for the 0.4.0 KubeRay release (w

[2022-09-12 20:58] #475 closed

[2022-09-12 22:26] kevin85421 opened #556 "[Bug] Skip publishing new charts if they are existing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

Github Action failed in this [PR](https://github.com/ray-project/kuberay/actions/runs/3040044978/jobs/4895656877) because the charts have already existed. We need to skip publishing new chart

[2022-09-12 22:49] kevin85421 commented on #553
See #557 for more details.

[2022-09-13 13:26] DmitriGekhtman commented on #532
It's probably a bug. We will fix it eventually when we have time to allocate to this.

[2022-09-13 13:42] alex-treebeard opened #558 "[Bug] --forced-cluster-upgrade Causes termination loop for ray head node"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

1. When I enable `--forced-cluster-upgrade` on the ray operator (v0.3) then it continuously terminates the ray head node (which it then replaces with an apparently identical pod)
2.

[2022-09-13 13:47] #550 closed

[2022-09-13 13:57] #556 closed

[2022-09-13 13:59] DmitriGekhtman commented on #553
That strategy makes sense -- we can revisit this when it's time for the 0.4.0 release.

[2022-09-13 15:39] DmitriGekhtman commented on #184
It's partially covered by https://github.com/ray-project/kuberay/pull/554.

What remains to be done is to add KinD CI integration tests that validate that the charts work end-to-end.

[2022-09-13 17:10] DmitriGekhtman opened #559 "[Feature] Pre-push hooks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

It would be great to have a pre-push hook for the KubeRay repo.
Every lightweight check in the CI should be included as part of the hook.
Things to include:
- Linters (including, if possible, the new Helm check)
- Code and config

[2022-09-13 18:19] #539 closed

[2022-09-13 18:23] peterghaddad opened #560 "[Bug][RayJobs] Ray spawns more pods than threshold (Max Workers for specific Group)."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

During worker pod termination after a Ray Job, the cluster will try respawning new workers and it will start to scale above the threshold. I've seen Ray clusters scale to over workers 100

[2022-09-13 18:32] DmitriGekhtman commented on #558
Could you share your Ray cluster's config?
And, just confirming, is it correct that you didn't update your Ray cluster's configuration (and this happened anyway?)

One theory is that something in your K8s environment is mutating the pod's configuration away from what's configured in the RayCluster CR and the operator is perceiving that as a configuration change that needs to be reconciled.

cc @wi

[2022-09-13 18:40] DmitriGekhtman commented on #558
^ After taking a look at the code, I'm almost certain that this is what's happening.

There are quite a few circumstances where the K8s environment may mutate a pod's resource requests or limits -- for example, GKE autopilot may do this to suit its internal bin-packing.

With the current implementation of `--forced-cluster-upgrade`, this would lead to the sort of churning behavior observed in this

[2022-09-13 18:46] DmitriGekhtman commented on #558
So, we're going to need to reconsider the design of `--forced-cluster-upgrade`.

It does not work to compare a pod's configuration against the template in the RayCluster CR.

Rather, we need to compare applied configuration against the previously applied configuration.

One approach is this:
- When creating a pod, compute a hash of the applied configuration.
- Store the hash in the pod's metadata.

[2022-09-13 23:19] kevin85421 opened #561 "[Bug] chart-releaser-action only release ray-cluster chart"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

Problem
---
* We expected that the **chart-releaser-action** ([Link](https://github.com/ray-project/kuberay/commit/f8c37fe2a2adb11a05a9fec4fed0d8c766cb8561)) should create release for every c

[2022-09-13 23:24] kevin85421 commented on #561
Fixed.

* `index.yaml`
![截圖 2022-09-13 下午4 23 05](https://user-images.githubusercontent.com/20109646/190026498-22e8afca-461e-46b8-a8d2-4cc5f0ca16e2.png)

* chart releases
![截圖 2022-09-13 下午4 23 21](https://user-images.githubusercontent.com/20109646/190026520-b8a07bad-3c8b-41c2-bf18-0568d671bc81.png)

[2022-09-13 23:25] kevin85421 commented on #561
cc @DmitriGekhtman

Feel free to close this issue if you have no questions.

[2022-09-14 01:32] DmitriGekhtman commented on #532
cc @harryge00. We can work on this together.

[2022-09-14 01:34] DmitriGekhtman commented on #440
This has been fixed.

[2022-09-14 01:34] #440 closed

[2022-09-14 02:29] wilsonwang371 commented on #558
I think this will be finally resolved by supporting rolling upgrade.

We will need to expedite the design and implementation of rolling upgrade support #527

Btw, Dima, can you give me more context on `--forced-cluster-upgrade` ? @DmitriGekhtman

[2022-09-14 02:31] wilsonwang371 commented on #558
cc @scarlet25151 @Jeffwan

[2022-09-14 02:33] DmitriGekhtman commented on #558
Not much more context to share besides that it would be nice to be able to update pod configuration by default!
This would give us parity with Ray-on-VM deployment and with the K8s built-ins.

[2022-09-14 03:57] kevin85421 commented on #446
Hi @scarlet25151,

Thank you for pointing this out!

Can you explain more about the reason that we need CRD files in the `helm-chart/kuberay-operator/crds` directory? In my understanding, we always use the CRD YAML files in `ray-operator/config/crd/bases` ([Link](https://github.com/ray-project/kuberay/tree/master/ray-operator/config/crd/bases)). That is, we can install CRD by the following command

[2022-09-14 04:19] wilsonwang371 commented on #558
some more information for me and also others: #231 is the original code. We need to change the design.

[2022-09-14 04:20] wilsonwang371 commented on #527
Note: we need to review #231 and make a new design.

[2022-09-14 08:53] loleek commented on #532
I need to use autoscaler in my ray-job currently. So I will fix it for my own use this days.
I think there are two ways to solve it.
First, just ignore the ray-cluster spec comparison in ray-job controller when autoscaler enable.
Second, make a new lightweight ray-job definition which loose coupling with ray-cluster. This lightweight ray-job controller will do more focused on job management and ju

[2022-09-14 09:56] alex-treebeard commented on #558
I can confirm we are using Karpenter which has a mutating webhook.

[2022-09-14 14:05] DmitriGekhtman commented on #559
Scripts to be run at the discretion of the developer are an alternative.

[2022-09-14 16:20] DmitriGekhtman commented on #532
I think we can bring this higher in our priority -- I'll take a look today.

[2022-09-14 16:22] DmitriGekhtman commented on #532
Could you clarify what you mean by "release"? I think the expected behavior would be to tear down the cluster (for the purposes of cost saving).

[2022-09-14 16:23] DmitriGekhtman commented on #532
Could you say more about your use-case. How do you intend to leverage autoscaling when running a RayJob?

[2022-09-14 17:03] DmitriGekhtman commented on #446
Yeah, this is a little tricky.

The benefit of including CRDs in the Helm chart are

1. It decreases the number of steps required for basic default installation.
2. It makes the UX more consistent -- you can use Helm for everything instead of having to use a combo of Helm and Kustomize.
3. For better or for worse, the CRDs are already in the Helm chart. Deleting them would introduce a backwards in

[2022-09-14 17:05] DmitriGekhtman commented on #553
I think we have a plan for this -- I'll set the priority to P2 for now and we'll revisit when we do the 0.4.0 release.

[2022-09-14 17:07] DmitriGekhtman commented on #511
This would definitely be good to have and is essential for workflows involving logging sidecars. Thus, would describe it as moderate priority (P1). Also, should be pretty straightforward.

[2022-09-14 17:10] DmitriGekhtman commented on #184
A basic e2e sanity check that we can use Helm to deploy a 1-head and 1-worker Ray cluster with the latest Ray version would be sufficient.

[2022-09-14 17:15] DmitriGekhtman commented on #519
The key part of the consistency check in the CI is done. Having this in

would greatly improve the developer experience, but is somewhat less critical. Thus, will mark this with P2 (important but not urgent) priority.

[2022-09-14 17:19] DmitriGekhtman commented on #549
Making configuration as simple and accessible as possible is important! Hence, P1 (moderate priority).

[2022-09-14 17:22] DmitriGekhtman commented on #561
Cool, thanks for fixing that.

[2022-09-14 17:22] #561 closed

[2022-09-14 17:27] DmitriGekhtman commented on #560
I think one important item here is to investigate why termination takes so long:
https://github.com/ray-project/kuberay/issues/503

Another important item is to make sure there aren't races between end-of-job cluster termination and pod creation.

[2022-09-14 17:34] DmitriGekhtman commented on #560
cc @harryge00

[2022-09-14 17:36] DmitriGekhtman commented on #536
I'll mark this as P2 for now, as we don't have an urgent need to introduce breaking changes. This mostly a public relations item.

[2022-09-14 17:40] DmitriGekhtman commented on #533
It does seems reasonable to allow a job to get started before resources are fully provisioned.

[2022-09-14 17:40] DmitriGekhtman commented on #533
I wonder also if a tool like https://github.com/IBM/multi-cluster-app-dispatcher could help with ensuring that resources are available before submitting a job.

[2022-09-14 17:51] DmitriGekhtman commented on #551
@akanso @Jeffwan do you have thoughts on the deployment strategy for the operator?
Recreate does sound safer, possibly at the the expense of a bit more downtime.

Removing the replica count field sounds like a good idea until we make leader election possible:
https://github.com/ray-project/kuberay/issues/474

Another option is to expose both strategy and replica fields, default them to Recreate an

[2022-09-14 17:53] DmitriGekhtman commented on #534
Thanks for posting this issue!

Could you clarify the following:

- What command you ran.
- What error you encountered.
- What steps you took to correct the issue.

[2022-09-14 18:13] akanso commented on #551
I agree, since the operator affects the K8s cluster state, we **do not want two active operator pods running at the same time.**

Since the startup time is negligible for the operator, we can afford to have a recreate policy, or a maxSurge =0

[2022-09-14 18:36] kevin85421 commented on #446
Thanks @DmitriGekhtman! I just realized that Helm can help users install CRDs by `helm install` after the arrival of Helm 3. I will work on this issue.

* https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2022-09-14 18:59] DmitriGekhtman commented on #446
Yep -- I think it's reasonable to state the requirement that Helm 3 must be used.

[2022-09-14 21:07] kevin85421 commented on #553
TODO: Host stable charts in a separate repo.

[2022-09-15 00:35] #446 closed

[2022-09-15 02:02] loleek commented on #532
What I mean is the cluster will tear down, but there has no check if this cluster is used by another rayjob.

[2022-09-15 02:19] loleek commented on #532
I have one k8s cluster in cloud to run many ray-job with different priority(high, middle, low), higher priority ray-job need more resources even run out of all resources at some time. There will be preemption in k8s, but high priority job not always use all resources, so to improve resource usage, the high priority ray-job should shrink its cluster.

[2022-09-15 02:59] kevin85421 opened #567 "[Feature] Synchronize RBAC between Helm charts and Kustomize"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

@DmitriGekhtman points out that we need to synchronize RBAC between Helm charts and Kustomize.

* [Helm RBAC](https://github.com/ray-project/kuberay/tree/master/helm-chart/kuberay-operator/templates)
* [Kustomize RBAC](https://git

[2022-09-15 03:58] loleek commented on #533
Now in ray-cluster's WorkerGroupSpec, there have MinReplicas and MaxReplicas. This actually indicates that ray cluster could run with elastic size for one job.

[2022-09-15 08:46] loleek commented on #532
I do some tests, currently the rayclustername is in status scope which can not set in my yaml. So existing raycluster cannot be reused by other rayjobs. There has no the bug what I said. But should we support submit a kube rayjob onto an existing ray cluster?

[2022-09-15 09:18] harryge00 commented on #532
@loleek You can try set `clusterSelector` as label selectors which select running rayclusters, while leave `rayClusterSpec` empty.

[2022-09-15 09:21] loleek commented on #532
ok. I find it in master branch, which 0.3.0 not support.

[2022-09-15 16:06] DmitriGekhtman commented on #532
RayJobs are new and under active development -- trying out master is a fruitful thing to do :)

[2022-09-15 20:36] kevin85421 opened #568 "[Bug] Cannot build kuberay with Go 1.16"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

My environment: Mac Pro (Intel i5), go1.16.2 darwin/amd64

[code]
![截圖 2022-09-15 上午11 13 58](https://user-images.githubusercontent.com/20109646/190502771-61444a76-e4ce-477f-aeab-93

[2022-09-15 20:41] kevin85421 commented on #568
cc @DmitriGekhtman

[2022-09-15 22:08] ckw017 opened #569 "[Bug] Installation (Helm) doc instructions don't work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

The instructions for installing the chart [here](https://ray-project.github.io/kuberay/deploy/helm/) don't work, since https://api.github.com/repos/ray-project/kuberay/releases/latest poi

[2022-09-15 22:32] sihanwang41 opened #570 "[Bug] Service (Serve) changing port from 8000 to 9000 doesn't work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Change the port in https://github.com/ray-project/kuberay/blob/master/ray-operator/config/samples/ray_v1alpha1_rayservice.yaml#L103

Deploy it in the EKS. Curl will get empty reply.

[2022-09-15 22:39] kevin85421 opened #571 "[Bug] Modification of nameOverride will cause label selector mismatch for head node"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

As mentioned in #495 and #530, the value of [nameOverride](https://github.com/ray-project/kuberay/blob/master/helm-chart/ray-cluster/values.yaml#L10) needs to be hardcoded with the

[2022-09-15 23:24] kevin85421 commented on #569
Thank you for pointing this out! I will fix the document.

[2022-09-16 02:29] DmitriGekhtman commented on #568
Let's just go the easy route here and assert in Development.MD that KubeRay requires Go 1.17.

[2022-09-16 16:14] architkulkarni commented on #570
A note from Shreyas offline: `host` and `port` has been added to the Serve REST API on the Ray master branch, but not in Ray 2.0: https://docs.ray.io/en/master/serve/rest_api.html#config-schema

[2022-09-16 17:42] #569 closed

[2022-09-16 18:46] #571 closed

[2022-09-16 21:23] #568 closed

[2022-09-18 10:03] tekumara commented on #288
This still happens when [following the docs](https://ray-project.github.io/kuberay/deploy/installation/#nightly-version) for the nightly version:

[code]

I think the problem is the `timeout=90s` param is not supported.

[2022-09-19 19:17] kevin85421 commented on #567
YAML files in the chart cannot be parsed by `pyyaml` without rendering (i.e. `helm template`). Take [role.yaml](https://github.com/ray-project/kuberay/blob/master/helm-chart/kuberay-operator/templates/role.yaml#L1-L7) as an example, the helm chart variables `{{ ... }}` are invalid for `pyyaml`. Hence, if we want to synchronize the RBAC YAML files automatically, we need to write a parser for YAML f

[2022-09-19 19:33] kevin85421 opened #580 "[Feature] Consistency check for RBAC"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Something related to RBAC needs to be synchronized.

(1) Kubebuilder markers in `ray-operator/controllers/ray/*_controller.go` should be synchronized with RBAC YAML files in `ray-operator/config/rbac`.

(2) Check the consistency b

[2022-09-19 20:57] #580 closed

[2022-09-19 20:59] DmitriGekhtman commented on #567
@kevin85421 that makes sense.
The consistency check you've added should be sufficient!
I've updated the priority on this one to "wontfix".

[2022-09-19 21:19] #567 closed

[2022-09-19 22:17] kevin85421 commented on #164
Resolved by #577 and #576.

[2022-09-19 22:17] #164 closed

[2022-09-20 21:49] DmitriGekhtman commented on #184
We can use existing compatibility test code as a starting point for this.

[2022-09-20 23:51] DmitriGekhtman opened #581 "[Feature] [Docs] Improve docs around KubeRay API server installation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Docs around KubeRay API server installation should be improved.

- Document installing the KubeRay API server using Helm

There is a Helm chart available for deployment of the KubeRay API server.
It is not documented yet. That sho

[2022-09-21 16:39] DmitriGekhtman opened #582 "[Bug] Pod reconciliation fails if worker pod name is supplied"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

The operator fails to reconcile multiple worker pods when you specify a name in the worker's pod template.

The issue should be fixed by

- Documenting the problem in KubeRay 0.3.0

[2022-09-21 18:04] jasoonn opened #583 "[Bug] Example program doesn't get executed as specified in docs."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Followed the steps in ray-operator docs, but the logs in the head of ray-cluster don't show the execution of the example program as specified in docs. Besides, the number of jobs ge

[2022-09-21 18:09] kevin85421 commented on #583
@jasoonn Thank you for pointing this out! Can you add the document's link in the issue description?

[2022-09-21 18:32] jasoonn commented on #583
@kevin85421 I have updated the document's link. Thank you!

[2022-09-21 20:54] kevin85421 commented on #582
Thank @DmitriGekhtman for pointing this out! I want to make sure the path of "name in the worker's pod template". Do you mean `spec.workerGroupSpecs[0].template.metadata.name` ([Link](https://github.com/ray-project/kuberay/blob/release-0.3/helm-chart/ray-cluster/templates/raycluster-cluster.yaml#L88))? Thank you!

[2022-09-22 00:18] kevin85421 commented on #523
[Possible Solution]
1. Update [ray-operator/Dockerfile](https://github.com/ray-project/kuberay/blob/master/ray-operator/Dockerfile#L18) to `RUN CGO_ENABLED=0 GOOS=linux GOARCH=arm64 GO111MODULE=on go build -a -o manager main.go`
2. Build a multi-architecture image for Kuberay with [docker/buildx](https://github.com/docker/buildx).
3. Build a multi-architecture image for Ray with [docker/buildx](ht

[2022-09-22 03:10] #583 closed

[2022-09-22 18:19] dhaval0108 commented on #581
Couple of suggestions for the documentation from my experience

1. The image used in the current docs for cluster creation i.e. `ray.io/ray:1.9.2` seems to be outdated and led to ImagePullBackOff. Using `rayproject/ray:1.13.1-py37-cpu` resolved the issue for me.
2. `rayStartParams` for both head and worker nodes seems to be a required parameter. Upon passing an empty dictionary I kept getting `[sp

[2022-09-23 00:55] #582 closed

[2022-09-26 17:57] kevin85421 opened #590 "[Feature] Running end-to-end tests on local machine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We need to download (`docker pull`) all necessary docker images before we load the images into a KinD cluster. Without this, the command `kind load docker-image kuberay/apiserver:nightly` will report an error message as follows.

[2022-09-26 18:40] scarlet25151 commented on #558
@alex-treebeard could you provide more detail about the situation? For example is there any extra container inject or is there any change to the head pod template by the webhook when a pod is created?

[2022-09-27 00:15] DmitriGekhtman commented on #558
With the current implementation, I believe either of these fairly common situations would lead to the behavior observed here.

[2022-09-27 02:39] DmitriGekhtman commented on #502
For reference, @richardsliu's blogpost is live here: https://cloud.google.com/blog/products/ai-machine-learning/build-a-ml-platform-with-kubeflow-and-ray-on-gke !

The goal of a Kubeflow/KubeRay integration would be to simplify the management of the components described in the blog. Let's use this thread to discuss implementation ideas.

cc @cadedaniel @sublimotion @zhe-thoughts @ericl @richardlia

[2022-09-27 18:19] scarlet25151 commented on #527
@DmitriGekhtman I think we can separate the update for two role:
1. for head node, we can just delete old one and pull up a new one, here we need to consider how it interacts with the HA mechanism.
2. for worker node, yes we can use similar rolling update logic in the deployments, however there may be some difference like deployment do not support scale old version replicas to 0 so it keep a `MaxU

[2022-09-27 18:37] Jeffwan opened #592 "[Feature] Reduce race condition between sequential job submission"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

When we submit jobs to existing cluster, there's an issue that the time job2 is created, job1 might not be fully deleted in the cluster.

1. T1 - job1 CR submitted
2. T2 - job1 CR is deleted
3. T3 - job2 CR is created

It probably

[2022-09-27 18:43] Jeffwan opened #593 "[Feature] Enable controller and apiserver to write logs to file path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, we use stdout to catch control plane logs. This is inconvenient under some cases. Alternatively, we want to dump logs to a file path and use log shipper to send to remote logging system like ELK etc.  So the ideal way i

[2022-09-27 18:43] Jeffwan commented on #593
/cc @Basasuya

[2022-09-27 18:48] Jeffwan opened #595 "[Feature] Support job timeout configuration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Job in Ray core doesn't support timeout yet.  This can be easily supported in RayJob controller.
We can introduce a new filed `timeout` etc and kick the timer when we submit the job. Once time is up, we should stop the job. I thin

[2022-09-27 19:28] DmitriGekhtman commented on #527
I like the strategy of splitting the discussion (and potentially even implementation) into updates for head and updates for worker.

cc @brucez-anyscale for the head node HA aspect.
Stating the question again: What should happen when you change the configuration for a RayCluster's head pod?

That's great! I'm looking forward to discussing the design of this functionality -- I think it's very impor

[2022-09-27 20:30] wilsonwang371 opened #597 "[Bug] latest gofumpt cause test issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

since we always use the latest gofumpt verison. recent verison upgrade made our ci tests fail. We need to use a verified version of gofumpt instead of always using latest.

### Reproduction s

[2022-09-27 20:31] wilsonwang371 commented on #597
FYI: @Jeffwan @scarlet25151 @DmitriGekhtman

[2022-09-27 20:47] #597 closed

[2022-09-28 01:09] asm582 commented on #592
I think this PR could help wrt to queuing and gang dispatching: https://github.com/ray-project/kuberay/pull/598

[2022-09-28 01:11] asm582 commented on #595
It would be good if we can define when the timer is started, do we start the timer when pods are in the `Running` phase?

[2022-09-28 02:00] DmitriGekhtman commented on #593
This seems --  writing to disk could be enabled by an option in the operator entrypoint.

[2022-09-28 02:07] DmitriGekhtman commented on #592
This is more a Ray issue than a KubeRay issue, but we can definitely discuss here.

If I understand right, the concern is Ray-internal: It's hard to tell if the first Ray job is completely done before sending the second one to the same cluster.
@architkulkarni are you the main owner for Ray jobs? Do you have thoughts on how to guarantee clean job termination?

[2022-09-28 15:36] Basasuya commented on #595
@asm582
I think start time is when these job custom resource is created.

Because the job crd supports cluster is already running or create cluster through `clusterSelector` (reference https://github.com/ray-project/kuberay/pull/470)
so the ray pods may be in the running phase before the job is submitted.

[2022-09-28 15:39] Basasuya commented on #593
My preliminary conclusion is that using klog to write to file and stdout.
I will research on the writing file feature of  klog

[2022-09-28 15:54] DmitriGekhtman commented on #593
sgtm
Let's just make sure not to alter the default behavior. (So by default, don't write to disk.)

[2022-09-28 16:17] architkulkarni commented on #592
@DmitriGekhtman Yup that's me. Ray jobs supports concurrently running jobs and internally there's no notion of waiting for a job to finish before scheduling the next one.  To do this with the Ray jobs SDK, you'd need to check the status in a loop until the first job returns a terminal status, like in the code sample here https://docs.ray.io/en/latest/cluster/running-applications/job-submission/sdk

[2022-09-28 16:35] DmitriGekhtman commented on #592
@Jeffwan do you think polling for completed job is enough to enable sequential job submission?

[2022-09-28 16:36] #590 closed

[2022-09-28 17:32] simon-mo commented on #595
This is currently planned for 2.1 release. https://github.com/ray-project/ray/issues/22736

[2022-09-28 19:27] DmitriGekhtman commented on #271
We could update the docs to mention that `kubectl apply --server-side` works.

[2022-09-28 23:27] DmitriGekhtman opened #601 "[Bug][Operator][Leader election?] Operator failure and restart, logs attached"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I was running the nightly KubeRay operator for development purposes and observed a failure with some strange error messages logged.

The logs had roughly 1000 lines of `Read request

[2022-09-29 00:27] DmitriGekhtman opened #603 "[Feature][ray-operator] Make pod creation errors accessible"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Right now, if the operator fails to create a head or worker pod for any reason, the fact of the failure and the reason for it is not surfaced anywhere except in the operator logs. The only thing you can see is status.state = Faile

[2022-09-29 00:28] DmitriGekhtman commented on #603
cc @davidxia, re: surfacing quota issues

[2022-09-29 05:08] atinsood commented on #595
@Jeffwan how does a ray job maps to RayJob CR.  1 ray job == 1 RayJob CR and is the lifecycle of RayJob CR independent of lifecycle of the cluster.

what is the benefit that you see from running a job with timeout vs user just calling out delete job.

@simon-mo on the issue that you pointed out, how will this be different from `ray job stop`

[2022-09-29 21:40] wilsonwang371 commented on #558
Hi Alex,

I guess the webhook will one of the following things:
1. create extra container in the pod
2. modify resources
3. change container image

Can you confirm this? @alex-treebeard

[2022-09-29 23:34] alex-treebeard commented on #558
I think it assigns a node to the pod before the kube scheduler has a chance to.

It doesn't add a container or change the image.

[2022-09-30 04:52] brucez-anyscale commented on #527
Right now. RayService does the whole cluster level upgrading, so RayService works itself for now.
RayCluster rolling upgrade: I think the head node or worker node should be backward compatible, so they can join back the Ray cluster.

[2022-09-30 18:10] #511 closed

[2022-09-30 18:37] wilsonwang371 commented on #558
If we give you a debug build, r u able to help us diagnose this issue?

[2022-09-30 20:25] DmitriGekhtman opened #610 "[Feature] [RayService] [Doc] Explain how to access Serve application logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

The docs should explain how to access application-level logs from Ray Serve when deploying RayService CRs.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willin

[2022-09-30 22:10] kevin85421 opened #611 "[Feature] Optimize the wait functions in E2E tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, we use `time.sleep()` to wait for the system convergence in E2E tests. However, `time.sleep()` will block the process for fixed units of time. Hence, we need to use new wait functions that block the process only when th

[2022-10-04 00:40] kevin85421 opened #612 "[Bug] HeadGroupSpec.Replicas is unused"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

This bug is found by #605. When I updated the value of `headGroupSpec.replicas` from 1 to 2. It breaks this [rule](https://github.com/ray-project/kuberay/pull/605/files#diff-665dbdd

[2022-10-04 00:40] kevin85421 commented on #612
cc @DmitriGekhtman

[2022-10-04 01:04] #611 closed

[2022-10-04 01:10] DmitriGekhtman commented on #612
Thank you for tracking this!
See also https://github.com/ray-project/kuberay/pull/362, which made the field optional.

I think we can handle this by removing the field in the next RayCluster API version.

[2022-10-04 01:13] DmitriGekhtman commented on #612
So the solution is bullet (2) in your proposal.
I believe I've already removed the field in all example docs and documented the field as deprecated in the raycluster_types.go.

[2022-10-04 01:16] DmitriGekhtman commented on #612
Oh, actually I think I left it in the examples for compatibility with KubeRay 0.2.0.
But now that we've released KubeRay 0.3.0, we can remove the field from all examples!
@kevin85421 would you mind doing the honors of hunting down and deleting all instances of HeadGroupSpec.replicas in example yamls?

[2022-10-04 08:56] alex-treebeard commented on #558
Thanks @wilsonwang371, I should be able to in the next couple weeks (I'm a bit away from karpenter right now)

[2022-10-04 21:00] Jeffwan commented on #612
We have an issue to track it and we need to do some clean up on the api.

[2022-10-05 02:14] shrekris-anyscale opened #615 "[RayService] [GCS FT] Worker nodes don't serve traffic while head node is down"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

I had a Kubernetes cluster on GKE with 2 nodes that was running a `RayService`. It had 2 worker pods and 1 head pod. It also had a 1-node Redis cluster configured to support GCS Fault Tol

[2022-10-05 03:00] DmitriGekhtman commented on #615
cc @brucez-anyscale @wilsonwang371 @iycheng

[2022-10-05 03:03] wilsonwang371 commented on #615
@brucez-anyscale Bruce, i remember we have seen something similar to this before while using port forwarding, right?

[2022-10-05 05:48] shrekris-anyscale opened #616 "[RayService] HTTPProxies don't update when replica crashes and recovers"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

When a replica crashes and recovers in Serve, usually the HTTPProxies get updated, so they can route requests to the newly updated replica. This seems to be Serve's behavior on a local cl

[2022-10-05 17:34] shrekris-anyscale commented on #616
I tried reproducing the issue using [the fruit example](https://github.com/ray-project/kuberay/blob/2793b2c3ec3f002c7c3399e0a7101fc3f5cbfc65/ray-operator/config/samples/ray_v1alpha1_rayservice.yaml) without fault tolerance, but the HTTPProxy updated correctly. I think the problem is likely in the way I configured GCS FT, so I’ll close the issue for now.

[2022-10-05 17:34] #616 closed

[2022-10-05 19:16] kevin85421 opened #617 "[Bug] test_detached_actor does not handle messages from sockets properly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

https://github.com/ray-project/kuberay/blob/159d57f565cabee36c97fa55cbc5d401bfeef906/tests/compatibility-test.py#L329-L360

[L351](https://github.com/ray-project/kuberay/blob/159d57f565cabee3

[2022-10-05 19:17] kevin85421 commented on #617
cc @DmitriGekhtman

[2022-10-05 20:13] kevin85421 opened #618 "[Bug] Revisit the use of kubectl wait to avoid flakiness"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

In KinD E2E tests, we use `kubectl wait` to block the process only when the system is not ready. However, it is not good to use `kubectl wait --for=condition=Ready` after deleting a resource.

[2022-10-05 20:15] DmitriGekhtman commented on #617
cc @wilsonwang371

[2022-10-05 21:28] kevin85421 commented on #612
Related issue: #368

[2022-10-05 23:12] wilsonwang371 commented on #617
good catch! I can make some change or are you planing to make a patch? @kevin85421

[2022-10-06 00:13] kevin85421 commented on #617
@wilsonwang371 I plan to make a patch. I hope to learn more about the KubeRay E2E tests by fixing this issue. Thank you!

[2022-10-06 22:43] scarlet25151 commented on #527
@wilsonwang371 Here I think we need to find the exact use case that user can benefit from the feature.

First is the user behavior, following the previous discussion, we can make the assumption that in this story:
1. the users would like to upgrade the image of worker.
2. the users would like to upgrade the image of head.
3. the user would like to upgrade both head and workers.

In all of those ca

[2022-10-07 00:01] DmitriGekhtman commented on #527
Let's first consider the most basic use-case that we were going for with the --forced-cluster-upgrade flag.

When a user updates a RayCluster CR and applies it, they expect changes to pod configs to be reflected in the actual pod configuration, **even if the change is potentially disruptive to the Ray workload**. If you update a workerGroupSpec,
workers with outdated configuration should be elimin

[2022-10-07 23:44] kevin85421 opened #620 "[Bug] Misuse of Docker API and misunderstanding of Ray HA cause test_detached_actor flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

### Misuse of Docker API
As shown in the following code segment, the existing tests in [compatibility-test.py](https://github.com/ray-project/kuberay/blob/2a7f0f2acd840f315e46596341c392c8153a

[2022-10-08 00:07] kevin85421 opened #621 "[Bug] Misuse of Docker API and misunderstanding of Ray HA cause test_ray_serve flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

See #620.

### Reproduction script

See #620.

### Anything else

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-10-08 04:28] kevin85421 opened #622 "[Feature] Docker support for chart-testing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

[chart-testing](https://github.com/helm/chart-testing) (`ct`) has a lot of prerequisites. In addition, `ct` also has docker support. Adding the Docker support in [chart-test.sh](https://github.com/ray-project/kuberay/blob/master/h

[2022-10-08 04:30] kevin85421 commented on #622
cc. @jasoonn

[2022-10-09 01:34] #622 closed

[2022-10-09 11:37] Basasuya commented on #593
After testing, I found Dockerfile is using gcr.io/distroless/static:nonroot as based image, which can not exec into the container. Writing to file is meaningless because I can not see them.
So should we use swap the based image?

\cc @Jeffwan @DmitriGekhtman

[2022-10-09 13:30] Basasuya commented on #595
@simon-mo same question with [atinsood](https://github.com/atinsood), what's the difference with ray job stop and stop_job api in Job Submission SDK ？

[2022-10-09 13:39] Basasuya commented on #595
@atinsood
1 ray job == 1 RayJob CR,
if clusterSelector is used, lifecycle of RayJob CR is independent of lifecycle of the cluster.
if not, the cluster would be deleted with the ray job.
But in current implement, delete rayjob cr will not delete the job in clusterSelector mode(here is one TODO)

job with timeout is the same as you call ray job stop when time is up

[2022-10-10 02:46] Jeffwan commented on #595
1 ray job = 1 RayJob CR. It depends, user can either reuse the cluster or create/delete new cluster.
- for existing cluster, timeout highly relies on `stop` or `delete` feature in ray core
- for ephemeral cluster, controller can delete the whole cluster.

user doesn't need to set the timer and calling out delete job. Everything is managed on the server side.

I feel this is a dependency but not th

[2022-10-10 16:30] dhaval0108 opened #624 "[Feature] [apiserver] Support custom cluster/pod annotations in KubeRay apiserver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

While creating a ray cluster using KubeRay apiserver (via the POST apis/v1alpha2/namespaces/namespace_name/clusters endpoint), there is no support to add custom annotations. These annotations are sometimes required by users to int

[2022-10-10 22:27] peterghaddad commented on #560
@DmitriGekhtman and @harryge00 wanted to politely follow up. Any thoughts on this functionality for having the autoscaler not try and spawn pods until they are fully terminated, not in a terminating state?

[2022-10-10 23:17] DmitriGekhtman commented on #560
Thanks for your patience.

Here's a proposed solution:
Add a flag to the ** kuberay operator** that instructs the raycluster controller to avoid having >=maxWorkers total (terminating or not) pods.
In this setup, the autoscaler's requests to add an unexpected number of pods would simply be ignored.

The required logic should be straightforward to implement -- I'll have a shot at it this week.

[2022-10-11 04:57] #515 closed

[2022-10-11 04:59] Jeffwan commented on #624
We have similar requirements in downstream and we extend a field to support it. Feel free to take this story!

[2022-10-11 09:57] sigmundv opened #625 "[Feature] Customise Ray head service in RayCluster CR"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

I would like to be able to customise the Ray head service that's created as part of the RayCluster CR. See the use case below for more details.

### Use case

I'm using KubeRay to deploy a Ray cluster to Kubernetes. To enable TLS

[2022-10-11 16:44] harryge00 commented on #560
I am trying to reproduce this problem. @peterghaddad Could you also provide the `Rayjob` yaml? The script you posted is actually a `RayCluster` yaml

[2022-10-11 19:40] peterghaddad commented on #560
I think safe guards are the way to go. @DmitriGekhtman

This is with multiple types of jobs and I am submitting through the JobSubmissionSDK. This problem usually occurs when pods are terminating but the autoscaler tries to spin new ones up. This causing tons of pods to spawn. I believe the autoscaler is what controls this? Hope that clarifies some things!

[2022-10-11 20:03] DmitriGekhtman commented on #560
We may need to tighten up autoscaling logic as well. From the autoscaler logs posted above, it seems very unusual that the number of GPU nodes is increasing, but there are no log messages indicating that nodes are being scaled up.

If you see this behavior again, it would be great to see the autoscaler logs
[code]
or `/tmp/ray/session_latest/logs/monitor.*` in the head node's autoscaler or ray con

[2022-10-11 20:04] DmitriGekhtman commented on #560
The output of `ray status` from within the Ray cluster is also very useful.

[2022-10-11 21:11] shrekris-anyscale opened #626 "[Bug] `RayService` restarts repeatedly when a new config is applied"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

A user had this Serve app:

<details><summary>Python Code</summary>
<pre lang="python">
from starlette.requests import Request
import joblib
import ray
from ray import serve
import pandas

[2022-10-11 21:19] DmitriGekhtman commented on #560
Finally, I'll mention that autoscaling is an optional feature -- if you know the total required Ray nodes for your job, it may be better to run a statically sized cluster and terminate the cluster once the job is done.

[2022-10-11 21:21] shrekris-anyscale commented on #626
We had a hypothesis that the user was running into #539, which was fixed by #540. The user upgraded Kuberay to master (which contains #540), but they could still reproduce the error.

1. They upgraded the CRDs using

[code]

2. Then, they created a new namespace-scope operator using the following config. It uses the image `kuberay/operator:nightly`:

    <details>
    <summary>Operator Config</sum

[2022-10-11 21:23] peterghaddad commented on #560
@DmitriGekhtman Our cluster is not static since we are running on Kubernetes. The pods are in a terminating state and it seems that it tries to respawn the pod leaving the terminating one stuck for a while. The delays causes the Cluster to exceed those limits due to the rapid growth.

[2022-10-11 21:28] DmitriGekhtman commented on #560
Sounds good, ok!

It would be great to diagnose the cause of this behavior! Autoscaler logs and `ray status` output appreciated.
Why the autoscaler is trying to terminate and create nodes in rapid succession is important to understand.

I'll mention that I do have some ideas in general on improving the structure of autoscaling logic such that
(a) we're more confident that the autoscaler is making

[2022-10-11 21:38] peterghaddad commented on #560
[code]

Additionally, I was able to reproduce the same problem without launching a job.

I re-launched a Ray Cluster, set maxReplicas: 10, minReplicas: 12, and replicas to 12. This caused the Cluster to get into the same state that we were experiencing when launching jobs. Unsure how it gets into this state when a Job is launched (i.e not manually).

[2022-10-11 22:34] DmitriGekhtman commented on #625
Thanks for posting this. We need to think about how best to expose this configuration in the RayCluster CR.

I don't have immediate thoughts on this, but commenting anyway, to make sure I'm subscribed to the discussion thread!

[2022-10-11 22:35] DmitriGekhtman commented on #625
Being able to modify aspects of the head service other than the service type is a natural ask! I wonder if we can take config inspiration from similar operators in the K8s ecosystem.

[2022-10-11 22:47] DmitriGekhtman commented on #560
[code]
Ideally, K8s or the operator would reject this configuration, since max > min.

Do you mean minReplicas=10, maxReplicas=12?

[2022-10-12 00:14] shrekris-anyscale opened #627 "[Bug] [RayService] HTTPProxies don't update with new replicas under GCS FT"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

**Note: It turns out that this is not an issue. The bug in #616 was likely due to a misconfigured config file. The HTTPProxies _do_ update with new replicas. I'm filing (and subsequently

[2022-10-12 00:14] shrekris-anyscale commented on #627
This issue is not reproducible, so it's unlikely to be an actual bug. However, https://github.com/ray-project/kuberay/issues/616 raised the same issue but it didn't have as clean a repro. I'm filing this issue (and subsequently closing this) to track a clean repro in case it's useful in the future.

[2022-10-12 00:14] #627 closed

[2022-10-12 01:36] kevin85421 opened #628 "[Feature] Replace kustomize with kubectl in E2E tests."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We use `kustomize` in [tests/kuberay_utils/utils.py](https://github.com/ray-project/kuberay/blob/607ac1f34ef6306e2bce4f6443d6eb5a10f308a6/tests/kuberay_utils/utils.py#L69-L70). However, `kustomize` has already been integrated with

[2022-10-12 05:56] Jeffwan commented on #628
kustomize provides sdk and if you prefer to use programming way, you can adopt it as well. For command line execution, `kubectl kustomize` definitely makes more sense

[2022-10-12 06:51] kevin85421 commented on #628
Thank @Jeffwan for this information! I try to search for Python SDK for Kustomize. I found [python-kustomize](https://github.com/yougov/python-kustomize), but the project is not under maintenance. Is there any other Python Kustomize SDK? Thanks!

[2022-10-12 13:39] AlessandroPomponio opened #630 "[Bug] Operator is unable to create RayClusters on OpenShift due to RBAC"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

The operator is unable to create the example `RayCluster` on OpenShift due to missing RBAC permissions, with the error being:

[code]

Expected behavior: Creating the example cluste

[2022-10-12 13:44] AlessandroPomponio commented on #630
The issue is due to a typo in the `kubebuilder` instructions, as reported here:
https://sdk.operatorframework.io/docs/faqs/#after-deploying-my-operator-why-do-i-see-errors-like-is-forbidden-cannot-set-blockownerdeletion-if-an-ownerreference-refers-to-a-resource-you-cant-set-finalizers-on-

In a few instances, it is spelled `finalizer` instead of `finalizers`

[2022-10-12 20:10] DmitriGekhtman commented on #560
Concerning this config snippet from the issue description:
[code]

I see replicas is greater than maxReplicas, which is most concerning.
At the time of deploying the configuration was it the case that replicas=minReplicas=0?

[2022-10-12 20:12] DmitriGekhtman commented on #560
Concerning this snippet:
[code]

It looks like something is completely off the rails -- do you have ~3000 GPU nodes available in your K8s cluster?

[2022-10-12 20:30] DmitriGekhtman commented on #625
See also this following request for head service configurability:
https://discuss.ray.io/t/exposing-kuberay-prometheus-metrics-configuration-on-head-service-annotations/7806/

[2022-10-12 20:45] peterghaddad commented on #560
@DmitriGekhtman  We do have lots of GPUs available. Some are migged however. My configuration is correct. When we actually use Ray, replicas are set to 0 and min is < max. However, when the issue occurs, and I check the the spec, it looks very similar to what I showed I.e replicas is some insane number like 60 and min is > max.

[2022-10-12 20:51] peterghaddad commented on #560
“ Do you mean minReplicas=10, maxReplicas=12?” When we originally deploy, min is < max however after the min value exceeds the max.

[2022-10-12 20:51] DmitriGekhtman commented on #560
This part is the most shocking to me... I don't know of any Ray or KubeRay component that modifies the minReplica field.

[2022-10-13 00:44] #617 closed

[2022-10-13 00:44] #620 closed

[2022-10-13 18:23] #630 closed

[2022-10-13 22:36] jasoonn commented on #628
I found that kubectl only supports applying kustomization.yaml instead of creating and editing kustomization.yaml, which is utilized in [tests/kuberay_utils/utils.py](https://github.com/ray-project/kuberay/blob/607ac1f34ef6306e2bce4f6443d6eb5a10f308a6/tests/kuberay_utils/utils.py#L69-L70). If we want to get rid of kustomize, we might need to create a template kustomization.yaml and use JSON Patch

[2022-10-13 23:00] kevin85421 commented on #628
Good point. I think the possible solutions are:
(1) Use kustomize Python SDK
(2) Use JSON Patch

Gentle ping @Jeffwan
Is there any other Python Kustomize SDK? Thank you!

[2022-10-13 23:55] kevin85421 opened #634 "[Bug] Worker pods crash unexpectedly when gcs_server on head pod is killed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

TODO

### Reproduction script

TODO

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-10-14 06:28] rokiyer commented on #441
Any progress? Meet same problem on k8s v1.23.6
Following doc https://ray-project.github.io/kuberay/guidance/ingress/ but can not create ingress.
Error message : "can not be set when the class field is also set"
k8s ValidateIngressCreate source code: https://github.com/kubernetes/kubernetes/blob/v1.23.6/pkg/apis/networking/validation/validation.go#L235

[2022-10-14 16:17] brucez-anyscale commented on #441
@DmitriGekhtman Could you help to follow up? Maybe @kevin85421 could help?

[2022-10-16 05:47] snow01 opened #637 "[Bug] Head Node service is not getting exposed on Internal Load Balancer despite proper annotations"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I am trying to set up the head node service exposed as LoadBalancer but on an internal one, but KubeRay is still using public LoadBalancer despite giving proper annotations.

I have

[2022-10-17 17:45] kevin85421 commented on #621
cc @jasoonn

The following links may be useful.

* #619
* #620

How does the docker container communicate with the k8s cluster?
* NodePort Service: head pod <--> local
* Docker (`network_mode: host`): container <--> local

You can try `curl 127.0.0.1:10001` (valid port) in both your local laptop and the container. You will get `curl: (56) Recv failure: Connection reset by peer`. You can also run `

[2022-10-17 17:53] jasoonn commented on #621
@kevin85421
 Thanks a lot for the information. I will work on it!

[2022-10-17 18:22] kevin85421 opened #638 "[Bug] Head pod is deleted rather than restarted when gcs_server on head pod is killed."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen
* **rayproject/ray:nightly**
   * When the `gcs_server` process on the head pod is killed, the head pod will be deleted by KubeRay operator and then create a new one. ([Link1](https://github.c

[2022-10-17 18:48] davidxia commented on #603
@DmitriGekhtman thanks for creating this issue.

One specific example of this is when a K8s ResourceQuota is exhausted. The kuberay-operator logs show an error like

[code]

The RayCluster resource only says the following. It should provide more info.

[code]

[2022-10-17 18:53] DmitriGekhtman commented on #603
Seems like a natural and important addition to status-reporting logic.
cc @Jeffwan @akanso

[2022-10-17 19:05] davidxia commented on #603
@DmitriGekhtman, how about setting a `status.reason` on the RayCluster with the error message? I'm taking a look now at stubbing out a PR since I have time.

[code]

[2022-10-17 19:57] DmitriGekhtman commented on #603
Thanks for the PR draft! Will take a look.

[2022-10-17 20:47] kevin85421 opened #640 "[Feature][Doc] Explain that RBAC should be synchronized manually"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, RBAC YAML files in `helm-chart/kuberay-operator/templates` and `ray-operator/config/rbac` should be synchronized manually. We have pointed this out in [DEVELOPMENT.md](https://github.com/ray-project/kuberay/blob/master/

[2022-10-17 21:32] #640 closed

[2022-10-18 00:16] kevin85421 commented on #441
I will take a look.

[2022-10-18 03:31] davidxia opened #642 "Test sample RayCluster YAMLs to catch invalid or out of date ones"
There are lots of sample RayCluster YAMLs in this repo. They are at risk of falling out of date with CRD schemas or best practices. Testing the sample YAMLs will help.

[motivation from this issue](https://github.com/ray-project/kuberay/pull/501#issuecomment-1233452960)

[2022-10-18 15:25] gariepyalex opened #643 "[Bug] RayService not deploying when enableInTreeAutoscaling is true"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

When deploying a RayService, pods of the ray cluster are not being started if `enableInTreeAutoscaling` is true. I can see that the RayCluster and RayService resources exist in the

[2022-10-18 15:48] DmitriGekhtman commented on #643
Thanks for all of the details! I will take a look.

[2022-10-18 16:54] Jeffwan opened #644 "[Feature] Enable strict validation feature flag"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Follow up on https://github.com/ray-project/kuberay/pull/636,  for such case, as the platform owner, we actually like to help user validate their inputs. However, this may break user's setup if user bring their own envs.

Instead,

[2022-10-18 23:26] kevin85421 opened #645 "[Bug] Fail to create ingress due to the deprecation of the ingress.class annotation"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Thank @rokiyer for pointing this out!

This issue is not totally same as #441, and thus I opened a new issue. Users cannot create `ingress` with the instructions in https://ray-proj

[2022-10-19 14:25] snow01 commented on #637
any updates on this, pls ?

[2022-10-19 17:52] kevin85421 commented on #637
Thank you for your followup! I started to take a look at the ingress support in KubeRay and found some questions. Currently, I am working on https://github.com/ray-project/kuberay/pull/646. The PR is a blocker of #637. Thank you for your patience.

[2022-10-19 18:38] DmitriGekhtman commented on #643
Reproduced the issue with the provided config. Looking into causes.

[2022-10-19 19:44] DmitriGekhtman commented on #643
I've identified the issue -- there's a bug stemming from inconsistency in the RayCluster controller's naming for autoscaler's Role. The bug only occurs when the name of RayCluster is long enough, which is liable to happen with the RayCluster name generated by the RayService controller.

I will open a PR fixing the bug.

**The short-term workaround is to use a shorter name for your RayService.**

[2022-10-19 19:47] DmitriGekhtman commented on #643
I was able to deploy the RayService successfully by shortening its name to "rxam".

[2022-10-19 22:58] sihanwang41 opened #647 "[Feature][RayService] Handle serve deployment delete during the cluster destroy."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

During the cluster rotation, RayService Controller should delete the serve deployment before tearing down the whole ray cluster.
This will help to make inflight requests in old ray cluster finish before destroy.

### Use case

_No

[2022-10-20 18:21] #645 closed

[2022-10-20 18:54] kevin85421 opened #648 "[Feature] custom annotation support for built-in ingress"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, we copy almost every annotation except `kubernetes.io/ingress.class` from `RayCluster.metadata.annotations` to `Ingress.metadata.annotations`. Hence, `Ingress` may have some annotations that have no relationship to `Ing

[2022-10-20 18:55] kevin85421 commented on #648
cc @DmitriGekhtman @Jeffwan

[2022-10-20 20:15] kevin85421 commented on #642
Good idea. The sample YAML files can be easily tested with #605. I can work on this after the test framework is merged.

[2022-10-21 00:22] shrekris-anyscale opened #649 "[RayService] Ray cluster keeps restarting when autoscaling with RayServices"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

I deployed a RayService on a Kubernetes cluster with cluster autoscaling enabled via `enableInTreeAutoscaling`. See [this gist](https://gist.github.com/shrekris-anyscale/bdd6607fae33f5303

[2022-10-21 00:33] simon-mo commented on #649
The root cause of this that during scaling, RayCluster operator will mutate the spec of the cluster changing worker `Replicas` and `WorkersToDelete` fields. For this given workload, we can see these around 60-90s mark
[code]

This causes some issue in the RayService operator where it actively check the drift between desired spec and actual spec. If the the desired != actual spec, it will restart t

[2022-10-21 00:40] simon-mo commented on #649
Now onto the fix:
- hacky fix: the JSON comparison should ignore fields that can be mutated by RayCluster operator (desired worker replica, workers to delete etc).
- slightly better fix: the RayService operator should not restart the cluster when "the active RayCluster has changed." Instead of comparing them
[code]
it should just blindly apply the spec and let RayCluster operator handle it.
- anot

[2022-10-21 00:49] DmitriGekhtman commented on #649
For the immediate moment, I endorse the hacky fix.
Once a correct story has been worked out for RayCluster pod config updates, we can follow the "update the spec and let the RayCluster controller handle it" approach.

[2022-10-21 00:52] DmitriGekhtman commented on #649
The autoscaler is not an operator -- from the RayCluster controller's perspective it's equivalent to a human modifying the replicas field.
The replicas field is the interface for any human or machine scaler to do what it wants.

[2022-10-21 00:53] simon-mo commented on #649
@DmitriGekhtman the main issue is the workers-to-delete is not mutated by autoscaler, rather by the operator itself, which performs a mutation of the spec section on the reconcile path.

[2022-10-21 01:00] simon-mo commented on #649
Now i'm looking at the code, it's going to be difficult to figure out what can RayCluster mutate. I'm leaning towards storing previous rayCluster spec into annotation and perform a comparison. This is how, for example, `kubectl` perform a diff. https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-to-create-objects

[2022-10-21 01:03] DmitriGekhtman commented on #649
Ah, yeah, I see your point!
We might want to revisit workersToDelete.

Anyways, for now I advocate hack -- ignore scaleStrategy and replicas.

[2022-10-21 01:07] DmitriGekhtman commented on #649
The strategy of storing last applied configuration in the database is definitely more robust than storing in memory. I think we went with the first approach because it was easier to implement for version 0.

[2022-10-21 02:30] DmitriGekhtman commented on #649
I think I'm actually thinking about another config comparison in the last comment -- anyways, this problem is fixable.

[2022-10-22 00:14] kevin85421 commented on #637
Hi @snow01,

I started to work on this issue by getting some context of [aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller), ALB, and NLB. I will try to reproduce this issue on my EKS.

I have several questions on this issue.

Q1: What is the definition of "internal one"? Do you mean `aws-load-balancer-scheme: internal`?
Q2: What is the definition of "pu

[2022-10-22 00:51] kevin85421 commented on #637
I took a look at the source code. The annotations will not be passed to the head service. We can double-check this with the answer to Q6 mentioned above. If so, I will update KubeRay to enable the annotation propagations.

https://github.com/ray-project/kuberay/blob/3f7b34c731bd2ee413fb622a05124b52f1588f20/ray-operator/controllers/ray/common/service.go#L13-L52

[2022-10-24 13:31] davidxia commented on #642
@kevin85421 thanks so much!

[2022-10-24 19:51] kevin85421 opened #651 "[Feature][Docs] Explain how to specify container command for head pod"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Some users want to run additional commands when RayClusters are started. For example, a user wants to run `ray start &&
python3 something.py` when the cluster is started.

Users can use `headGroupSpec.template.spec.command` to set

[2022-10-24 19:52] kevin85421 commented on #651
cc @DmitriGekhtman

[2022-10-25 09:12] dcarrion87 opened #653 "[Bug] Unable to autoscale CPU job with Kuberay on system with A100"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

Running into issues getting the autoscaler to scale on simple CPU jobs. I suspect this may have something to do with the underlying system having GPU but having trouble working it out fro

[2022-10-25 12:28] snow01 commented on #637
Yes

Yes

You are right, this should not matter.

This is also deprecated. So doesn't matter.

Following configurations are the one that should matter -
[code]

[2022-10-25 19:33] simon-mo commented on #649
@shrekris-anyscale will be working on the fix here. The plan is to store a hash of the cluster spec and only create new clusters when the hash no longer matches.

In more details
- Step 1: User applies a config
  - The service operator will hash the cluster spec to XYZ.
  - The service operator will add a metadata label the cluster config saying serve-cluster-config-hash: XYZ.
  - The service oper

[2022-10-25 19:41] DmitriGekhtman commented on #649
Just to be clear here, is this correct:
We are not going to include workersToDelete or replicas in the hash, right?

[2022-10-25 19:45] DmitriGekhtman commented on #649
Assuming the last comment, this solution seems ok for now. Longer term, we will need to also have an update strategy for bare RayClusters and make sure that the update strategy for RayServices meshes well.
See https://github.com/ray-project/kuberay/issues/527 and linked issues for the discussion about RayCluster upgrades.

[2022-10-25 20:08] kevin85421 commented on #637
Thank @snow01 for your reply!

I have added this issue to today's KubeRay community sync [agenda](https://docs.google.com/document/d/1TCeBFVUyXVVHpbJegjbykiXArSn11Cm6sfNYkSzsrhY/edit#). If you are interested in the discussion, welcome to join the community sync!

(1) [Agenda](https://docs.google.com/document/d/1TCeBFVUyXVVHpbJegjbykiXArSn11Cm6sfNYkSzsrhY/edit#)
(2) [Google Meet](https://meet.googl

[2022-10-26 16:28] DmitriGekhtman opened #656 "KubeRay 0.4.0 release"
This is an issue to discuss and track next KubeRay release 0.4.0.
I think it would be great to aim for a release in mid-to-late November.
The improvements over the last release would consist of

- Bug fixes for new and experimental features (e.g. Services, Autoscaling)
- New feature: Stable, properly hosted Helm suppport. (This has been highly requested for months or even years.)

There might not

[2022-10-26 17:59] kevin85421 opened #657 "[Feature][Docs] AWS Application Load Balancer (ALB) support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Some users are interested in ingress support of KubeRay. KubeRay has built-in ingress support. However, built-in ingress only supports simple Nginx setups (See [ingress.md#example-nginx-ingress-on-kind](https://github.com/ray-proj

[2022-10-26 23:37] dhaval0108 commented on #624
Thanks @Jeffwan, could you please share more details about your implementation?

[2022-10-27 02:23] thien-nguyenthanh opened #659 "[Bug] Enable sidecar container causes Ray head to terminating many times"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I am trying to add a container sidecar to Ray head. Following the [PR](https://github.com/ray-project/kuberay/pull/604).
But it looks like something is killing the sidecar container

[2022-10-27 16:07] DmitriGekhtman commented on #659
@thien-nguyenthanh
Until the next release, we recommend pulling the chart from the KubeRay master branch. Just double checking -- did you use the chart from the 0.3.0 release or from master?

[2022-10-27 19:12] scarlet25151 opened #660 "[Feature] update rayservice without restarting raycluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Some of the user will have some demand when update rayservice, they do not want restart raycluster because there would be some files or state that store inside the old raycluster. However, the rayservice controller will check the

[2022-10-27 19:14] scarlet25151 commented on #660
In this case we may think the `raycluster` to be mutable for a `rayservice`, WDYT @brucez-anyscale @Jeffwan

[2022-10-27 22:49] #657 closed

[2022-10-28 01:16] DmitriGekhtman commented on #660
@shrekris-anyscale and @simon-mo are currently working on related issues.
We can get to a mutable raycluster at some point in the future, but probably not right now -- a few too many subtleties here while we're still ironing out basic stability issues.

[2022-10-28 01:16] DmitriGekhtman commented on #660
cc @sihanwang41 @architkulkarni

[2022-10-28 02:47] thien-nguyenthanh commented on #659
The ray-cluster chart is used from master. CRD and kuberay-operator from 0.3.0 release.

[2022-10-28 04:09] DmitriGekhtman commented on #659
Could you try once more with the master branch (nightly) kuberay-operator?

[2022-10-28 04:20] thien-nguyenthanh commented on #659
@DmitriGekhtman Thank you.
It works for Kuberay-operator nightly version.

[2022-10-28 04:20] #659 closed

[2022-10-28 06:49] Basasuya opened #664 "integration test to stop ray job when delete job custom resource or timeout is triggered"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

When the job cr is deleted, the corresponding cluster would be deleted, the job must be killed.
Here are two condition we should stop the job manually.
1. use cluster selector mode, https://github.com/ray-project/kuberay/pull/470

[2022-10-28 07:28] loleek commented on #213
Here I can give a demo code which can support volcano in ray operator.
https://github.com/loleek/kuberay/commit/745e12cb6b72d4299ec1b4bef65cb46d305eafc3
I get queue and priority class from head pod labels, but it works well to me.

[2022-10-28 08:05] orcahmlee opened #665 "[Feature][Helm] Expose the autoscalerOptions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

The options of the Autoscaler are useful but not exposed to the Helm `values.yaml`, such as `idleTimeoutSeconds` and `resources`.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-10-28 15:14] DmitriGekhtman commented on #213
@loleek thanks for sharing!

I think there are several tools in the k8s ecosystem that can help with this.
For example, @asm582 has demo'd and documented how to use MCAD to gang-schedule KubeRay-managed resources
https://ray-project.github.io/kuberay/guidance/kuberay-with-MCAD/

[2022-10-28 15:26] DmitriGekhtman commented on #213
In my opinion, batch scheduling and queuing should not be directly supported out-of-the-box.
However, clear docs on the use of external tools like https://ray-project.github.io/kuberay/guidance/kuberay-with-MCAD/ are much appreciated!

@loleek from a quick read of the branch you posted, it seems to me the same functionality could be achieved with the existing operator code, by correctly configurin

[2022-10-28 22:01] simon-mo opened #667 "[Bug] [RayService] Missing readiness and liveness probe causes 5xx error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

When the Service Operator update a new Ray Cluster. It should install necessary [livenessProbe and readinessProbe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liven

[2022-10-28 22:46] akanso commented on #667
is there any specific reason why we use _Exec_ with _Wget_ instead of the _HTTPGet_ in the probe?

[code]

https://pkg.go.dev/k8s.io/kubernetes/pkg/apis/core#ProbeHandler

[2022-10-29 00:36] simon-mo commented on #667
I think the reason might be httpGet doesn't cover multiple endpoints.

[2022-10-29 03:38] snow01 commented on #637
Let me try this as per doc and confirm back. Thanks

[2022-10-31 06:50] wolvever commented on #213
Configuring a RayCluster using minReplicas might not solve problems when statefule RayActors are involved under a preemption.

For example job x requires 10 actors, 1 actor per cpu.  Job y also requires 10 actors, 1 actor per cpu.  There are 15 cpus in total.   If job y perempted job x,  half of job x's actors lost, waiting for retry.

Actors retry serveral times might always failed.  Actors retry

[2022-10-31 07:02] loleek opened #669 "[Feature] RayJob support retry"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, rayjob cannot be re-submitted if failed. Can we support job retry and user-defined retry times, because maybe unexpected case happened like node crash or pod killed randomly.

### Use case

_No response_

### Related is

[2022-10-31 17:25] kevin85421 commented on #656
Create a google doc to track all compatibility-related PRs that need to be finalized before release 0.4.0. We can discuss this doc on Nov. 8 or Nov. 22 community sync.

https://docs.google.com/document/d/1IG22TXYJKZxozDKSShixeq2t8zPF26qWoSFL-Wx4vR0/edit

[2022-10-31 19:36] DmitriGekhtman commented on #213
@wolvever that's a great point, Ray doesn't have built-in gang scheduling and fault tolerance primitives that would mitigate this scenario. While Ray does have some built-in fault tolerance mechanisms, we generally recommend thinking about fault tolerance at the application level, i.e. you should consider various failure scenarios and design your Ray app with those in mind.

I think this issue foc

[2022-11-01 17:30] davidxia opened #670 "ray-operator emit RayCluster events and `.status.conditions[]` for Pod creation errors"
Make ray-operator emit RayCluster events for Pod creation errors. This will provide more info to user when running `kubectl describe`. Follow up to https://github.com/ray-project/kuberay/pull/639#issuecomment-1281763760

Also add `.status.conditions[]` to RayCluster. See https://github.com/ray-project/kuberay/pull/639#issuecomment-1286183252

[2022-11-01 23:48] shrekris-anyscale commented on #649
I'm reclassifying this issue as P1 since #655 resolves the Ray cluster restart issue. I'll leave this issue open since there's some discussion about long-term updates we can make to further address this issue.

[2022-11-02 11:23] ivan-yaromka opened #672 "[Bug] ray.io_rayjobs.yaml missed in helm-chart/kuberay-operator/crds for v0.3.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

there are no ray.io_rayjobs.yaml in helm-chart/kuberay-operator/crds for v0.3.0 tag.
but it exists in master:
https://github.com/ray-project/kuberay/blob/master/helm-chart/kuberay-o

[2022-11-02 15:18] shopigarner commented on #643
Not to conflate issues, but we're also seeing an issue where the head-svc endpoint names are being truncated for names > 50 characters, could this be related?

[2022-11-02 15:19] ivan-yaromka opened #673 "[Feature] ray-cluster: add busybox image to values"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

please add busybox image to https://github.com/ray-project/kuberay/blob/master/helm-chart/ray-cluster/values.yaml as variable.
now it's hardcoded in ray-cluster template in this way:
        initContainers:
          - name: init-

[2022-11-02 15:57] DmitriGekhtman commented on #643
Truncation is necessary due to K8s length limits.
Let me go back and fix the issue with char length limits -- it slipped my mind.

[2022-11-03 20:35] #621 closed

[2022-11-03 20:44] #665 closed

[2022-11-03 21:18] #673 closed

[2022-11-03 21:28] DmitriGekhtman opened #676 "[Feature] [RayJobs] Use finalizers to implement stopping a job upon cluster deletion"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

As a follow up to https://github.com/ray-project/kuberay/pull/629, we should implement stopping a job upon RayJob completion via a finalizer, rather than using a delete event trigger. See the discussion thread on the linked PR for

[2022-11-03 22:26] #551 closed

[2022-11-03 23:11] #653 closed

[2022-11-03 23:53] kevin85421 opened #679 "[Bug] label rayNodeType is useless"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Label rayNodeType is useless in the whole KubeRay operator. I guess people are trying to add the label `ray.io/node-type`.

https://github.com/ray-project/kuberay/blob/f3415f44f9710

[2022-11-04 01:18] DmitriGekhtman opened #681 "[Feature] Add a stale bot"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We have some very old PRs and issues that could use to be marked stale and closed automatically.
It would be great to add a stale bot.

### Use case

Simplify management of the KubeRay repo.

### Related issues

_No response_

###

[2022-11-04 01:21] DmitriGekhtman opened #682 "[Feature] Python linting"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

The KubeRay repo's Python code should be linted.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-11-04 01:40] DmitriGekhtman commented on #672
It's fixed in master. Helm support will be stable in 0.4.0. For now, it's recommended to use the Helm charts from master.

[2022-11-04 01:42] DmitriGekhtman commented on #184
@kevin85421 for the KubeRay 0.4.0 release we should add a e2e CI test that validates that at least the default values.yaml works

[2022-11-04 02:14] shrekris-anyscale commented on #667
Yeah, that should be feasible. I can take it.

[2022-11-04 02:26] janessong opened #683 "[Bug] KubeRay operator can not be deployed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I cloned the KubeRay GitHub repo and deploy the operator's configuration from my local file system.
use kubectl create -k default/
error: couldn't make loader for namespace.yaml: go

[2022-11-04 04:11] kevin85421 commented on #683
I cannot reproduce this error. My commands are as follows.

[code]

This issue https://github.com/kubernetes-sigs/kustomize/issues/3812 might be helpful. In addition, you can also try to upgrade your `kubectl`. My version is as follows.

[code]

[2022-11-04 05:06] kevin85421 commented on #682
References:
* https://github.com/ray-project/ray/blob/4d7ca5d48490b11025ddbe7e2af1b9d39273053c/ci/lint/format.sh
* https://github.com/ray-project/ray/blob/65d9a410f7c7697372270ea2ac93d8121f69f53c/setup_hooks.sh

[2022-11-04 08:58] NaxAlpha opened #684 "[Feature] Streaming data from local machine to cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

I want to stream files on my local machine to the ray cluster running on a Kubernetes cluster.

### Use case

I have a large dataset on my local machine/laptop. I want to train my model on this dataset using Ray on Kubernetes. I h

[2022-11-04 15:47] DmitriGekhtman commented on #269
I believe @kevin85421 has implemented this.

[2022-11-04 15:47] #269 closed

[2022-11-04 15:51] DmitriGekhtman commented on #476
It's not urgent to fix in the next release -- it works well enough to copy-paste the extra configuration.

[2022-11-04 15:54] DmitriGekhtman commented on #380
The feature flag does not work well in certain situation, as discussed in the relevant issue thread. There are some more subtleties to deal with, and we don't need to rush this for the next release.

[2022-11-04 16:02] DmitriGekhtman commented on #273
cc @kevin85421

[2022-11-04 16:03] DmitriGekhtman commented on #353
Satisfactorily resolved by https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/logging.html

[2022-11-04 16:03] #353 closed

[2022-11-04 16:09] DmitriGekhtman commented on #298
I agree. @kevin85421 has been working in this direction.
We should definitely think about what kinds of testing need to be added.

Going to remove the 0.4.0 milestone label as this issue is not completely specific.

[2022-11-04 16:12] DmitriGekhtman commented on #271
I think for the moment, the only actionable item is the documentation item described in the last comment.
Going to remove the milestone label from this issue because docs are not currently versioned.

[2022-11-04 16:17] DmitriGekhtman commented on #553
The release is approaching. We need to document a procedure for hosting the charts and carry it out for the 0.4.0 release.

[2022-11-04 16:18] DmitriGekhtman commented on #265
For now, the suggestion is to patch just the replica count.

[2022-11-04 16:25] DmitriGekhtman opened #685 "[Bug][Doc] Increase default operator resource requirements, improve docs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

We have some indication from users that the default resource limits for the KubeRay operator may be too small when managing many Ray pods.

See the discussion here: https://ray-dist

[2022-11-04 16:28] DmitriGekhtman commented on #331
Have we fixed this?

[2022-11-04 16:31] DmitriGekhtman commented on #400
Default ports are already correctly configured when the head container's ports are left out.
Otherwise the head container's ports are used for the service.
I think the behavior is described in the Ray docs.

[2022-11-04 16:31] #400 closed

[2022-11-04 16:39] DmitriGekhtman commented on #312
Going to shift the target for this to v0.5.0.

The target release date for KubeRay v0.4.0 is Wednesday, November 30.
If there's interest in adding pagination before then, feel free to shift back to the 0.4.0 milestone.

[2022-11-04 16:52] DmitriGekhtman commented on #395
@brucez-anyscale @simon-mo have we solved this yet?

[2022-11-04 16:56] DmitriGekhtman commented on #625
Solved in
https://github.com/ray-project/kuberay/pull/668

[2022-11-04 16:56] #625 closed

[2022-11-04 17:07] DmitriGekhtman opened #686 "[Bug][Investigation] Examine reconciliation backoff when there is an issue creating pods"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

The issue comment here indicates there may be a problem with reconciliation backoff when there's a persistent issue creating a pod:
https://github.com/ray-project/kuberay/pull/639#i

[2022-11-04 18:46] DmitriGekhtman opened #687 "[Bug] GPU multitenancy issues"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I am opening this issue to simplify tracking for KubeRay 0.4.0.
This issue is simply a proxy for Ray issue https://github.com/ray-project/ray/issues/29753.

### Reproduction script

[2022-11-04 22:22] davidxia commented on #265
@daikeshi can correct me if I'm wrong, but we've switched our user workflow to creating RayClusters on an as-needed basis via a CLI. So this is less of a concern for us now.

[2022-11-04 23:11] DmitriGekhtman commented on #643
Fix: https://github.com/ray-project/kuberay/pull/689

[2022-11-04 23:45] brucez-anyscale commented on #395
I think so. Should be resolved I remember correctly

[2022-11-05 00:06] DmitriGekhtman commented on #395
Great!

Closing. Cleaning up GitHub issues is the best.

[2022-11-05 00:06] #395 closed

[2022-11-05 01:36] DmitriGekhtman opened #691 "[Bug] Compatibility tests of FT features are (still) flakey"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Example:
https://github.com/ray-project/kuberay/actions/runs/3397833204/jobs/5650377940

### Reproduction script

N/A

### Anything else

Would be great to increase the total pass r

[2022-11-05 01:37] DmitriGekhtman commented on #691
cc @kevin85421 @sihanwang41

[2022-11-05 01:39] #643 closed

[2022-11-05 05:25] Jeffwan opened #692 "Improve test quality by either improving or removing unreliable test"
![image](https://user-images.githubusercontent.com/4739316/200102591-e6120b67-1ba2-47e3-ae6e-6961857df333.png)

This actually looks really bad.  We don't even know it's flaky tests or test failures.
1. Could maintainers make sure tests pass before merging the PR?
2. Could maintainers rerun the test for post-submit commits?
3. is there a way to open rerun permission for PR author?

[2022-11-05 05:40] Jeffwan opened #693 "Revisit chart release strategy"
![image](https://user-images.githubusercontent.com/4739316/200104196-a668ed12-ee73-405b-9f01-35f672d06568.png)

I think we talked about chart release in past issue and I notice chart is released as the part of the release.

Ideally we want the static website to host the chart as the source. but we are blocked due to website.
So new added charts are not helping, right? I notice we are still using v

[2022-11-05 06:11] Jeffwan commented on #691
/cc @wilsonwang371

[2022-11-05 06:12] Jeffwan commented on #685
We did see some OOM issue internally and bump the resources in downstream. I think this would be helpful

[2022-11-05 06:26] DmitriGekhtman commented on #685
Any data you could share?
(e.g. how many pods managed and what resource limits you're using?)

[2022-11-05 15:14] wilsonwang371 commented on #691
I will be working on this.

[2022-11-05 16:01] kevin85421 commented on #693
We will use a separate repository to host the server for our charts before releasing 0.4.0. I will work on this near the branch cut. There are some issues related to hosting helm charts in the KubeRay repository.

https://github.com/ray-project/kuberay/pull/545
https://github.com/ray-project/kuberay/issues/561

[2022-11-05 16:09] kevin85421 commented on #692
Every PR will pass all tests before merging. There are a lot of questions in the existing compatibility tests. Some of them are fixed, e.g. #620 and #621. We still need more time to fix all of them.

This is a good idea. We can discuss this in the next community sync.

[2022-11-05 16:29] kevin85421 commented on #691
This is a known issue. The root causes are:

(1) #638 #634 => Both Kubernetes and KubeRay have fault tolerance mechanisms, and we did not integrate them well.

(2) #618 => Compatibility tests misuse the `kubectl wait` commands. => Some functions in #605 can fix this.

Do we still need to track the progress in this issue or track in #618 #634 #638 separately? Thanks!

[2022-11-05 17:41] kevin85421 commented on #693
The progress is tracked at https://github.com/ray-project/kuberay/issues/553. Do we need to open two issues at the same time or close one of them? Thanks!

[2022-11-05 20:13] wilsonwang371 opened #694 "use grpc probe to query health status of Ray 2.2 and above"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

https://github.com/grpc-ecosystem/grpc-health-probe

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-11-06 00:18] kevin85421 opened #695 "[Feature] Migrate CI infra from GitHub Actions to Buildkite"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

KubeRay CI has some resource limitations (especially CPU), and thus most sample YAMLs cannot be tested in KubeRay CI (GitHub Actions). Hence, I open this issue to track the progress of configuration tests on Ray CI. See #678 for m

[2022-11-06 20:04] suman724 opened #696 "[Bug] client_golang used by KubeRay has a vulnerability"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Problem:
client_golang used by KubeRay has a vulnerability (CVE-2022-21698). Please see below.

client_golang is the instrumentation library for Go applications in Prometheus, and t

[2022-11-06 23:29] sihanwang41 commented on #686
TLDR: I can't reproduce the issue.

I am using Kuberay on `Kind` to test it locally. I am using `github.com/ray-project/kuberay/ray-operator/config/default?ref=master&timeout=90s` and provision a ray cluster that exceeds the quota.  I can see the backoff reconciling happens.

[code]

[2022-11-07 04:26] DmitriGekhtman commented on #686
Thanks! Closing this, then.

But it would be nice to get https://github.com/ray-project/kuberay/pull/639 merged...

Would you mind trying it out again with that PR branch? Do you see the issue reported by the author?

PR branch operator can be deployed by

- checking out the branch
- cd'ing to kuberay/ray-operator
- running the following commands
[code]
[code]
substituting the relevant image name.

[2022-11-07 04:26] #686 closed

[2022-11-07 06:19] DmitriGekhtman commented on #693
This issue is indeed a duplicate. There might be some dangling assets from our first attempt at hosting charts.
I think @kevin85421 found it would be most straightforward to host release charts using a separate repo.

[2022-11-07 06:19] #693 closed

[2022-11-07 06:27] DmitriGekhtman opened #697 "[Feature] Investigate integration of KubeRay and Volcano, add to docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Investigate use of Volcano with KubeRay for gang scheduling.
Write up a user guide.

cc @kevin85421 @sihanwang41

### Use case

Gang scheduling of KubeRay resources.

### Related issues

This is a more specific version of https://

[2022-11-07 19:07] #642 closed

[2022-11-08 02:21] Jeffwan commented on #691
@kevin85421 Let's use this one as an umbrella issue. This issue should be fixed before v0.4.0 release

[2022-11-08 02:22] Jeffwan commented on #697
Is this one same as https://github.com/ray-project/kuberay/issues/213?

[2022-11-08 02:24] Jeffwan commented on #679
some examples configuration are useless.  "ray.io/node-type"  are reserved by operator actually. We can just remove those unhelpful labels and clean up the examples.

[2022-11-08 02:25] Jeffwan commented on #679
I feel we should always give minimum settings for most of the examples. Just leave one example with details setting.

[2022-11-08 02:36] DmitriGekhtman commented on #697
Re-ordered the text of the issue description to make it clearer:
I think it would be interesting specifically to target Volcano, since it's a popular tool.

Hopefully, KubeRay already exposes the necessary configuration and no changes are required.

Opened this issue on the basis of some discussion with @kevin85421.

[2022-11-08 02:43] DmitriGekhtman commented on #553
Yes.

We need to make one.

[2022-11-08 02:44] DmitriGekhtman commented on #691
Sounds good, I updated the milestone.

[2022-11-08 03:02] Jeffwan commented on #692
For short term, I think it's better to rerun the tests for merged commits before the compatibility get fixed

[2022-11-08 03:03] Jeffwan commented on #692
![image](https://user-images.githubusercontent.com/4739316/200464984-2472283e-45aa-4412-862b-e70d20dabf07.png)

[2022-11-08 19:47] DmitriGekhtman opened #700 "[Feature] [Discussion] [Ray Autoscaler] More efficient pod state fetch in autoscaler."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

This is basically the same as the Ray issue https://github.com/ray-project/ray/issues/21656
I'm opening a KubeRay issue to solicit fresh discussion.

Currently, the autoscaler sends a "list pods" request to the K8s API server once

[2022-11-08 19:48] DmitriGekhtman commented on #700
cc @akanso @Jeffwan @pcmoritz @sriram-anyscale @wuisawesome for any thoughts

[2022-11-08 21:01] Jeffwan commented on #656
@DmitriGekhtman @kevin85421 I think you guys work on lots of stories in v0.4.0. Can we have a release manager from your team?  Let's setup the mechanism and formalize the release process. I will also write some docs and release process based on v0.3.0 experiences.  We have a one release manager and 1-2 people shadow the release if necessary /cc @scarlet25151

[2022-11-08 21:02] Jeffwan commented on #656
Let's also ask community the most critical features/bug fixes they like to put in the release just in case we miss them in the v0.4.0 milestone

[2022-11-08 21:30] kevin85421 commented on #656
Good idea! It will be very helpful for KubeRay community to formalize the review process. We can discuss it in today's community sync. I have added them to today's agenda.

[2022-11-08 21:41] DmitriGekhtman commented on #656
I volunteer @DmitriGekhtman @kevin85421 @sihanwang41 to co-manage the release from the Anyscale side.

[2022-11-08 22:30] wuisawesome commented on #700
Instinctively, some version of option 3 makes the most sense to me. It feels like the autoscaler shouldn't have to list pods, it should just read the status of a ray cluster CR (which shouldn't have to contain the full pod spec for every pod, some smaller subset like just the ip and node type should be sufficient).

Note an implementation detail to make this race-condition free, is that we should

[2022-11-09 00:27] DmitriGekhtman commented on #700
1000 pods, 64 bytes each: ~100kb of data.

I think the limit of etcd/k8s for storage for a single object is something like 1MB. It's slightly uncomfortable that we're within an order of magnitude.

It's more if we want to separately include the other pieces of data the autoscaler needs (ip, node type, node kind, container status). The autoscaler could get that data with relatively cheaper read req

[2022-11-09 00:29] DmitriGekhtman commented on #700
Side: I think it would be better if we had the following solution (which I think I've heard both @wuisawesome and @sriram-anyscale suggest)

## 4
Rewrite the autoscaler such that it does not require listing external cluster state.

### Pro
Avoid this entire discussion.

### Con
Significant code change.

[2022-11-09 02:36] DmitriGekhtman commented on #692
Makes sense.

Some other potential actions we considered:
Isolate flaky tests.
Move Fault Tolerance tests to a nightly pipeline.
Consider modifying test timeouts.

[2022-11-09 02:55] DmitriGekhtman commented on #700
I'm warming up to option 3 (write some pod data to status for autoscaling clusters).
I might try it out and load test it.

[2022-11-09 17:48] kevin85421 commented on #683
This issue is the same as "[Installing KubeRay Operator failing](https://discuss.ray.io/t/installing-kuberay-operator-failing/8204)", and it is solved by upgrading `kubectl` (#702). Closed this issue.

[2022-11-09 17:48] #683 closed

[2022-11-09 19:18] #679 closed

[2022-11-09 20:19] wuisawesome commented on #700
FWIW for any a reasonable ray config, that cluster is both larger than the ray scalability envelope and also within an order of magnitude of the k8s scalability envelope.

[2022-11-09 20:25] DmitriGekhtman commented on #700
Will do some experiments.

I think the best we can do is try to get state that's as up-to-date as possible -- maybe just write it at the beginning and end of the update?

@kevin85421 observed a situation in which the operator's handling of state was not even consistent enough for itself --
there was a double-launch followed by deletion apparently due to staleness of the operator's own pod cache.
(

[2022-11-09 21:14] DmitriGekhtman commented on #700
^ though re: cache staleness, I just took a look at the replicaset controller -- at naive first glance, it doesn't do anything differently -- it just gets a pod list from informer cache, computes a diff, and creates the desired number of pods...so, shrug...

[2022-11-09 21:57] kevin85421 opened #704 "[Bug] Double creation of Pods cause flaky tests"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

The function `create_kuberay_cluster` in `compatibility-test.py` is very flaky. As shown in this [example](https://github.com/ray-project/kuberay/actions/runs/3424423296/jobs/570680

[2022-11-09 21:59] kevin85421 commented on #704
cc @DmitriGekhtman @Jeffwan @sihanwang41 @jasoonn for thoughts.

[2022-11-09 22:00] kevin85421 commented on #700
#704

[2022-11-10 01:09] DmitriGekhtman commented on #704
cc @akanso also

We should try to get a sense for how frequent this behavior is -- in principle, if you occasionally create an extra pod and then  quickly delete it, that's not the worst thing in the world. That's "eventual consistency"...

The ReplicaSet controller underlying doesn't use logic that's much fancier than what we're doing in KubeRay -- maybe we have some other unknown issue.

[2022-11-10 01:11] DmitriGekhtman commented on #704
The immediate action item is to fix the test such that it doesn't assume a stable name for the worker pod.

[2022-11-10 04:28] DmitriGekhtman commented on #704
Hmm, I don't remember the 1.13.0 test being flakey in the past.
Could there be a new issue in master causing this?

[2022-11-10 07:26] Jeffwan opened #707 "[Feature] Clusters created by job should have a dedicate label"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

I tried to label select a head pod that belongs to a cluster which is created by a job.
The tricky thing is `ray.io/cluster=rayjob-server-raycluster-tnd4z` User won't know the cluster name because this is managed by job controller

[2022-11-10 15:22] DmitriGekhtman opened #708 "[Feature] Expose RayCluster service annotations"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

There are situations in which a user may wish to modify the annotations set on the RayCluster service. So far we've seen this come up for these use-cases

- Setting up an NLB: https://github.com/ray-project/kuberay/issues/637
- Ex

[2022-11-10 15:36] DmitriGekhtman opened #709 "[Feature] [CI] Track flakey KubeRay tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Create a flakey test tracker for KubeRay similar to https://flakey-tests.ray.io/

### Use case

I recently found myself asking "when did x test become flakey?"

### Related issues

https://github.com/ray-project/kuberay/issues/704

[2022-11-10 15:56] DmitriGekhtman opened #710 "Verify the state of `ray pdb` and `ray memory` on KubeRay"
These may or may not work with KubeRay -- there have been reports of these features failing on Kubernetes in the past.

https://github.com/ray-project/ray/issues/16679

[2022-11-10 15:59] DmitriGekhtman commented on #687
Looks like this is on NVIDIA to fix?

[2022-11-10 23:27] kevin85421 commented on #553
Based on this [post](https://blog.bradmccoy.io/linking-helm-charts-in-github-pages-to-artifacthub-46e02e19abfe), we can create a separate repository to host Helm charts and link the charts in GitHub pages to ArtifactHUB.

@DmitriGekhtman Do you have the write access to create a new repository? Thank you! cc @Jeffwan

[2022-11-10 23:39] DmitriGekhtman commented on #553
Sounds like we need to open a new git repository whether we use Artifact Hub or not? In that case maybe we don't need to both with Artifact Hub for now?

[2022-11-11 00:04] kevin85421 commented on #553
The next step is to host Helm charts on GitHub pages. We can discuss whether we need Artifact Hub or not in the future.

[2022-11-11 00:10] DmitriGekhtman commented on #553
Ok, sgtm -- let's open a new rayproject repo on Monday.

[2022-11-11 09:13] DmitriGekhtman commented on #704
Actually, this article suggests that the replicaset controller does some sort of maneuver to account for stale cache:
https://medium.com/@timebertt/kubernetes-controllers-at-scale-clients-caches-conflicts-patches-explained-aa0f7a8b4332
We should figure out how it works, as double launching pods and then deleting a random pod is not in general acceptable for Ray.

[2022-11-11 09:27] DmitriGekhtman commented on #704
The CloneSet controller also does appear to be smarter than us:
https://github.com/openkruise/kruise/blob/5839c5ba1909b463242a3603a7d22d45aed7fa6e/pkg/controller/cloneset/cloneset_controller.go#L225-L280

[2022-11-11 20:11] DmitriGekhtman commented on #700
I am a little shaky on consistency requirements and on the ramifications for reconciliation of updating the status with a bunch of cached pod data. See also the discussion in https://github.com/ray-project/kuberay/issues/704
If there were a simple way of extracting a new-enough resourceVersion and communicating it to the autoscaler, that would be great.
Will think a bit more, but I'm basically out

[2022-11-11 21:27] DmitriGekhtman commented on #700
I propose this hack:
Before obtaining pod data, the autoscaler writes some arbitrary annotation to the head pod, looks at the resource version in the response, and uses that in the list call.

[2022-11-11 21:28] DmitriGekhtman commented on #700
The name of the head pod can be supplied to the autoscaler as an env variable.

[2022-11-12 13:00] janessong commented on #683
thanks very much！

[2022-11-12 16:28] DmitriGekhtman opened #713 "[Bug][Helm] Rename initArgs to rayStartParams"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

The Ray cluster Helm chart has a field initArgs which maps to rayStartParams in the RayCluster CR.
For consistency, rename initArgs to rayStartParams while maintaining backwards compatibi

[2022-11-12 20:38] DmitriGekhtman commented on #704
Test flakiness is fixed. I'm going to open an issue to discuss the underlying problem.

[2022-11-12 20:38] #704 closed

[2022-11-12 20:58] DmitriGekhtman opened #715 "[Bug] RayCluster controller operator does not handle stale informer cache"
### Search before asking

- [x] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

When reconciling pod quantities, the RayCluster controller uses pod informer cache as the sole source of truth on current pod state. The number of pods to create or delete are compu

[2022-11-12 21:02] DmitriGekhtman commented on #715
cc @akanso @Jeffwan

Someone should probably take a closer look at the replica set code -- similar methods should be applied to KubeRay pod reconciliation.

[2022-11-13 06:25] kevin85421 commented on #715
Thank you for opening a new thread to highlight this issue! I plan to dive deep into this issue.

[2022-11-13 06:30] kevin85421 opened #716 "[Bug] Revisit shallow copy of struct"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

We need to revisit all shallow copy of struct in KubeRay because the following reasons:

(1) Shallow copy of a go struct is not encouraged, and see [article](https://alenkacz.medium

[2022-11-14 11:35] Tehada opened #717 "[Bug] worker node does not scale down on GKE"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

Hello, ray's team! Thank you for amazing project!

I am trying deploy ray cluster on GKE and have some problems with it. I am using [this](https://github.com/ray-project/kuberay/blo

[2022-11-14 17:12] spolcyn opened #718 "[Bug] KubeRay does not show clear error for duplicated `groupName` field"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

1. Saw: When a cluster YML specifies 2 worker pod types with the same `groupName`, the cluster goes into a loop of creating and immediately terminating all pods with that `groupName

[2022-11-14 17:55] kevin85421 opened #719 "[Feature] Test sample RayService YAMLs to catch invalid or out of date ones"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Use https://github.com/ray-project/kuberay/pull/605 to test sample RayService YAMLs.

### Use case

Catch invalid or out of date RayService YAML.

### Related issues

#605
#642
#678

### Are you willing to submit a PR?

- [ ] Yes

[2022-11-14 17:56] kevin85421 commented on #719
@jasoonn will work on this issue.

[2022-11-14 18:36] DmitriGekhtman opened #720 "[Bug] [CI] Make sure CI handles all code generation."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

We still have situations where PRs are merged without complete code generation.
This should be fixed in an automated way.

See https://github.com/ray-project/kuberay/pull/714/files#r102192514

[2022-11-14 18:50] kevin85421 commented on #715
# ReplicaSet Controller
* https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go

ReplicaSet (RC) controller maintains `expectations` (A TTLCache of pod creates/deletes each RC expects to see). If `expectations.add` or `expectations.del` is larger than 0, the reconciler will skip synchronization with the RC because it is waiting for some Pod add events or del

[2022-11-14 18:59] jasoonn commented on #719
@kevin85421 Thanks for the opportunity. I will wok on this!

[2022-11-14 23:39] kevin85421 opened #722 "Remove helm-chart-releaser from KubeRay repository"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ci

### What happened + What you expected to happen

We decided to host Helm charts in [ray-project/kuberay-helm](https://github.com/ray-project/kuberay-helm). Hence, helm-chart-releaser in KubeRay should be removed.

### Reproduction script

N

[2022-11-15 00:53] kevin85421 opened #724 "Add documentations for the release process of Helm charts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We need to formalize the release process, and thus documents are helpful. We hosted Helm repository on **kuberay-helm**, and we need a document to explain how to release charts with the help of kuberay-helm CI.

### Use case

_No

[2022-11-15 02:21] DmitriGekhtman opened #725 "[Feature][Discussion] Interactive development for Ray on Kubernetes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

There isn't a clear recommended path for interactive and iterative development for Ray on Kubernetes.

Many companies have discovered workflows that involve accessing deploying ephemeral Ray Clusters from a Jupyter notebook enviro

[2022-11-15 03:59] #722 closed

[2022-11-15 04:07] DmitriGekhtman commented on #536
If it's too much of a bother to update to v1beta1, we can just keep developing until we reach a GA state (whenever that will be) and upgrade straight to v1 with KubeRay 1.0.0.

[2022-11-15 04:34] DmitriGekhtman commented on #718
Thanks for posting this. There's a general theme here that we need to raise better errors and improve observability of the system.

[2022-11-15 04:49] #724 closed

[2022-11-15 22:27] tbukic opened #729 "[Bug?][Documentation] nginx Ingress for client times out"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

Wrapping up [this](https://ray-distributed.slack.com/archives/C02GFQ82JPM/p1668430849201679) discussion:

I'm still not sure if this is a bug or just me misunderstanding documentation, bu

[2022-11-16 01:32] kevin85421 commented on #729
Thank @tbukic for pointing this out!

[2022-11-16 17:48] DmitriGekhtman commented on #729
One pattern we've seen from users is

- Setting up a Jupyter notebook environment in the K8s cluster
- Connecting via Ray Client in the notebook
- Exposing the Jupyter notebook to external traffic, which is a fairly common thing to do.

Related:
https://github.com/ray-project/kuberay/issues/725

[2022-11-16 17:54] DmitriGekhtman commented on #729
Actually, the experience of setting up networking to expose Ray Client running in a K8s cluster was hell **_for the Ray maintainers_** at Anyscale.
For a data science platform, I wouldn't recommend going down the route of exposing Ray client directly.

The route Anyscale has been pursuing

[2022-11-16 19:13] kevin85421 commented on #553
@DmitriGekhtman Are there any remaining action items for this issue? Thank you!

[2022-11-16 20:48] DmitriGekhtman commented on #553
The remaining item is to release the charts with KubeRay 0.4.0.
I don't think keeping this issue around is helping anything, so will close.

[2022-11-16 20:48] #553 closed

[2022-11-16 20:55] DmitriGekhtman commented on #729
@ckw017 are there any obvious fixes for the ingress config that you can see after a quick glance?

[2022-11-16 21:03] ckw017 commented on #729
Hmm, nothing obvious stands out. The main gotcha we saw before was [this](https://github.com/grpc/grpc-java/issues/8122), where reconfiguring ingresses would cause them to close active connections incorrectly.

One thing to check here is if the service that the ingress is pointing to has the ray client port exposed in its configuration, and to try connecting ray client through that service from an

[2022-11-16 23:35] DmitriGekhtman opened #732 "[Feature][Anyscale team] Formal user testing for KubeRay"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

This issue is aimed for consumption by the Anyscale team.

Anyscale has established a formal process for user testing of Ray features.
This process should be carried out for various aspects of deployment of Ray on K8s.

For purpos

[2022-11-17 00:13] DmitriGekhtman opened #733 "[Discussion][Feature] Clean up workersToDelete?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We might want the operator to clean up workersToDelete after it is done deleting the requested workers.
Currently, if a user sets workersToDelete, the autoscaler will keep trying to delete the workers, even after they are gone. Th

[2022-11-17 00:13] DmitriGekhtman commented on #733
cc @kevin85421

[2022-11-17 00:38] kevin85421 commented on #732
I am not familiar with the definition of user testing. Do you mind explaining it more? Thank you!

[2022-11-17 01:46] DmitriGekhtman commented on #732
Will follow up offline!

[2022-11-17 19:01] tgaddair commented on #697
Can look at how the Spark Operator handles integration as a reference:

https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/pkg/batchscheduler/volcano/volcano_scheduler.go

It's not yet clear to me if this requires modifying KubeRay to work, or if native integration just saves some boilerplate.

[2022-11-17 19:09] DmitriGekhtman commented on #697
Well-documented boilerplate is the preferable route when possible.

IMO, KubeRay shouldn't be too opinionated about external tools.

[2022-11-17 19:10] tgaddair commented on #697
From what I can gather, the only real requirement is to create a [PodGroup](https://volcano.sh/en/docs/podgroup/) for the Ray Cluster and tie it to the RayCluster CR via the `ownerReferences` metadata. Assuming this doesn't require some knowledge of RayClusters on the Volcano side, I think it should be doable to just have users create PodGroups manually.

[2022-11-17 19:11] tgaddair commented on #697
The only other element to this is handling updates, like how the autoscaler can adjust the number of replicas. This could also benefit from native integration in KubeRay, as otherwise it could be difficult to intercept these changes to update the PodGroup. But that could be a "buyer beware" thing to put into the docs.

[2022-11-17 19:42] tbukic commented on #729
Thanks to everybody!

@ckw017 I've checked, it works:

- if I connect to it using `ray://[service_name].[namespace]:10001` from another pod
- if I connect to service ADDRESS and IP from another pod obtained from pod's env
- if I do port forwarding head's port 10001 and connect to `ray://localhost:forwarded_port`

Using ingress host still doesn't work.

If it means anything, I get multiple entries

[2022-11-17 19:53] ckw017 commented on #729
Hm, shot in the dark but can you try `pathType: ImplementationSpecific` instead of `pathType: Prefix`

[2022-11-17 20:48] tbukic commented on #729
Good idea, but still times me out. :/

[2022-11-17 21:08] ckw017 commented on #729
Hmm, can you try with these annotations:

[code]

I think if there's a way to sanity check if gRPC works in general (as opposed to Ray Client specifically) that would help narrow this down

[2022-11-18 02:40] DmitriGekhtman opened #736 "[Feature] Better validation for the RayCluster CRD, via validating webhooks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

There are many aspects of KubeRay config validation that cannot be handled by CRD schema validation.

We have some limited validation functionality within the operator -- if the operator detects certain misconfigurations, it will

[2022-11-18 04:50] DmitriGekhtman commented on #66
This has been solved.

[2022-11-18 04:50] #66 closed

[2022-11-18 06:05] DmitriGekhtman opened #737 "[Feature] [Test] E2E release tests on cloud K8s infra"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We have some CI integration tests of KubeRay running in CI using KinD.

However, we don’t yet have any automated E2E release testing for KubeRay on multi-node Kubernetes clusters.

This should be fixed. The precise scope for relea

[2022-11-18 06:11] DmitriGekhtman opened #738 "[Feature] [Doc] More comprehensive docs on logging"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

[Ray docs on logging with KubeRay](https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/logging.html) are not sufficiently comprehensive.
There should be multiple examples fully illustrating various logging setups.

### Us

[2022-11-18 06:57] DmitriGekhtman opened #739 "[Feature] After KubeRay 0.4.0 release, emphasize Helm"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

This is an issue to address after the next KubeRay release.

KubeRay 0.4.0 will be the first release with stable Helm support.
Once KubeRay 0.4.0 is out, the Ray and KubeRay docs should emphasize deploying Ray with Helm, while mai

[2022-11-18 19:02] DmitriGekhtman commented on #255
This has been solved.

[2022-11-18 19:02] #255 closed

[2022-11-18 19:03] DmitriGekhtman commented on #713
Let's actually resolve this for the KubeRay 0.4.0 release, should be simple.

[2022-11-18 19:07] DmitriGekhtman opened #741 "[Bug][Helm][Operator] Verify that setting resources in initArgs works"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

There are reports that setting num-cpus and num-gpus in initArgs does not work.
Check if that's the case. If so, fix.

### Reproduction script

https://github.com/ray-project/ray/is

[2022-11-18 19:15] #685 closed

[2022-11-19 16:50] DmitriGekhtman opened #742 "[Feature] [Docs] Explain how to use Ray custom resources with examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Ray custom resources can be used to

- Constrain certain tasks/actors to be scheduled on specific worker groups
- Constrain the autoscaler to scale up specific worker groups to accommodate these tasks and actors

Add some specific

[2022-11-19 16:58] DmitriGekhtman opened #743 "[Feature] [Docs] Examples of using the Ray autoscaler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Document examples of using autoscaling.
The [current docs](https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/configuring-autoscaling.html) just present the theory.

### Use case

_No response_

### Related issues

Repla

[2022-11-19 19:09] #719 closed

[2022-11-19 19:51] DmitriGekhtman opened #744 "[Feature][Docs][Discussion] Provider consistent guidance on resource Request and Limits"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Documentation on resource request and limits should be made clearer and more prominent, perhaps repeated in several places in the docs.

Best practices are laid out here:
https://discuss.ray.io/t/questions-for-configurations-using

[2022-11-19 21:22] DmitriGekhtman commented on #732
I think the wide range of configuration options (kustomize, Helm, KubeRay API server) may be confusing.

Thus, it would be good to explicitly test if users are able to configure a Ray cluster satisfying x,y,z conditions.

[2022-11-19 21:49] DmitriGekhtman opened #745 "[Bug] 409 conflicts when updating status"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

KubeRay operator logs sometimes show that 409 conflicts are sometimes raised when reconciling status, for example
[code]

This happens a lot when using autoscaling, because the auto

[2022-11-21 14:00] ivan-yaromka opened #746 "[Feature] add ServiceAccountName"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Can you please add ServiceAccountName to ray-cluster pods?
In this case we will have possibility to setup additional ServiceAccount template. And then ray-cluster pods will have possibility to connect to AWS resources.
In this cas

[2022-11-21 18:18] DmitriGekhtman opened #747 "[Feature] Sort randomPodsToDelete in descending order of timestamp"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Consistency faults like https://github.com/ray-project/kuberay/issues/715 have the potential to lead to situations where too many worker pods are created and then a random worker pod is deleted to achieve desired replica count.

T

[2022-11-21 20:50] DmitriGekhtman opened #748 "[Feature][Docs] More E2E ML examples with KubeRay"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We could use more documented examples of running ML workloads with KubeRay.

Currently, there are two here: https://docs.ray.io/en/latest/cluster/kubernetes/examples.html

### Use case

Make Ray easier to use, by providing guides

[2022-11-21 20:50] DmitriGekhtman commented on #748
Replaces https://github.com/ray-project/ray/issues/28224

[2022-11-21 20:57] DmitriGekhtman opened #749 "[Feature] [Test] Test Ray libraries on KubeRay"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We should have some tests of first-party Ray libraries running on KubeRay.

### Use case

Ensure Ray libraries work on K8s.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit

[2022-11-21 22:16] kevin85421 commented on #681
@brycehuang30 Do you want to take this issue? Thanks!

[2022-11-21 22:18] brycehuang30 commented on #681
Sure! I'll try to deploy stale bot

[2022-11-22 01:01] kevin85421 commented on #747
ReplicaSet also deletes redundant Pods based on priority.
* https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L676-L708
* https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L807-L816

[2022-11-22 03:52] #739 closed

[2022-11-22 18:28] Jeffwan commented on #744
I think we can not assume we only run one Ray cluster in K8s cluster. So different size clusters will fill the k8s clusters.

[2022-11-22 18:41] scarlet25151 opened #754 "[Feature] kuberay apiserver need UT for new added apis of rayjobs and rayservice"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

some bugs happened like #734 because of lacking some UT when adding the logic and maybe some manually e2e check may not find the bugs add effort for further bug fix, we need add more detail UTs in kuberay-apiserver to add stabilit

[2022-11-22 19:45] DmitriGekhtman commented on #744
I've amended that bullet slightly. It's of course subject to the constraints of the user's Kubernetes environment, but generally speaking, it does not make sense to pack many tiny Ray pods into a single K8s node.

[2022-11-22 19:47] DmitriGekhtman commented on #744
A common setup (and one we've used at Anyscale in the past) is to set up cluster autoscaling such that you get a new K8s node of the appropriate type each time you request a Ray pod. The Ray pod and supporting machinery then fill up the entire K8s node.

[2022-11-22 19:50] DmitriGekhtman commented on #725
We intend to release KubeRay 0.4.0 before the end of the year.
I think it's a bit too rushed to include in this release, particularly since Anyscale product management leadership will want to discuss.
cc @richardliaw @anabranch

[2022-11-22 20:42] DmitriGekhtman commented on #741
I was not able to reproduce the issue.

[2022-11-22 20:42] #741 closed

[2022-11-22 20:43] DmitriGekhtman commented on #713
This is done.

[2022-11-22 20:43] #713 closed

[2022-11-22 20:44] DmitriGekhtman commented on #184
Again, not a hard blocker for the 0.4.0 release, but we do need to at least do some manual testing.

[2022-11-22 20:47] DmitriGekhtman commented on #691
I think the flakiness of these tests may result from fundamental faults in the underlying functionality.
We may not be able to fix this before the release.

[2022-11-22 21:13] kevin85421 opened #756 "[Bug] 409 conflicts cause two jobs creations"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

I submitted a RayJob to an existing RayCluster with `clusterSelector` and then deleted it. I repeated the process 6 times, and 2 (11:13:54 & 11:32:05) of them created two jobs rathe

[2022-11-22 21:33] DmitriGekhtman commented on #756
This is most unfortunate.
@architkulkarni do you think there's anything we could do to make job submission idempotent?
Maybe we could submit the job with a name? Submitting a job with the same name could either fail (preferred) or cancel the old job (this sounds harder).

[2022-11-22 23:25] Wendi-anyscale commented on #732
DM me when we r ready to kickoff this

[2022-11-23 00:54] DmitriGekhtman commented on #725
It would indeed be great to release in December.
For that to happen, we must make the branch cut soon (ideally next week)

So I think it's better not to add major features to the release right now.

[2022-11-23 01:16] Jeffwan commented on #656
/cc @scarlet25151 Please shadow release and give feedbacks from Bytedance's perspective

[2022-11-23 04:57] DmitriGekhtman commented on #647
Seems reasonable to include in the release.

[2022-11-23 19:01] DmitriGekhtman opened #757 "[Feature] [Docs] Docs on how to deploy on K8s without KubeRay"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Strictly speaking, this is not a KubeRay issue. However, I think it makes sense to track anything related to Ray on Kubernetes in the KubeRay repo.

Many users do not have the cluster-scoped permissions required to install the Kub

[2022-11-24 04:54] #676 closed

[2022-11-24 17:09] DmitriGekhtman commented on #441
We've added some documentation on ingress setup to the KubeRay repo in https://github.com/ray-project/kuberay/pull/699 and https://github.com/ray-project/kuberay/pull/658.
We should also make sure to explain ingress setup clearly in the Ray docs.

Basically, anywhere we currently mention port-forwarding in the KubeRay docs or in the Ray docs, we should explain that port-forwarding is a hack for si

[2022-11-26 16:52] DmitriGekhtman commented on #695
The more appropriate long-term move would be to unify KubeRay's CI infrastructure with the Ray CI's Buildkite infra. That way, we could run tests per-commit in the KubeRay CI.

[2022-11-28 17:41] architkulkarni commented on #756
It'll be hard to change the Ray Jobs API because it's GA already.  I like your idea of submitting a job with a name; the RayJob operator should probably generate its own random names and it should manage the state and retries.  Currently the Ray Jobs API fails the submit request if the name is already in use.

[2022-11-28 18:48] DmitriGekhtman commented on #725
@scarlet25151 @Jeffwan you should feel free to open PRs upstreaming workspace support after the 0.4.0 release.
I think it could make sense as a new feature for 0.5.0 release.

[2022-11-28 18:53] kevin85421 opened #762 "[Feature] E2E Test plan for RayService"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We should have a test plan for RayService after #759 is merged.

### Use case

_No response_

### Related issues

#759

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-11-28 18:54] kevin85421 opened #763 "[Feature] E2E Test plan for RayJob"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We should have a test plan for RayJob after #759 is merged.

### Use case

_No response_

### Related issues

#759

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-11-28 21:30] kevin85421 opened #764 "[Feature] Replace Docker container and NodePort with Kubernetes Pod"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, [compatibility-test.py](https://github.com/ray-project/kuberay/blob/49c44bff5a807a680248b30b5563f985a075be9b/tests/compatibility-test.py) uses Docker container with `network_mode='host'` to communicate with Ray Pod via

[2022-11-28 21:33] DmitriGekhtman opened #765 "[Bug] De-dupe RayCluster comments"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

ray-operator

### What happened + What you expected to happen

There's a load of copy-pasted comments in example configuration for RayClusters, RayServices, and RayJobs.
This makes maintaining sample configuration very difficult.
Explanatory co

[2022-11-28 21:34] kevin85421 commented on #764
@jasoonn are you interested in taking this issue?

[2022-11-28 21:39] kevin85421 commented on #765
This will be very helpful. Maybe we can maintain two configuration comments:

(1) Helm chart (values.yaml)

(2) Non-helm: Remove all comments in every sample YAML file, but add a link to point to a central configuration document. Hence, we do not need to update every sample YAML file when we update a single line of comment.

Does this make sense?

[2022-11-28 21:49] kevin85421 opened #766 "[Feature] Improve the observability of integration tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We can reuse the function [show_cluster_info()](https://github.com/ray-project/kuberay/blob/49c44bff5a807a680248b30b5563f985a075be9b/tests/framework/prototype.py#L120) to get more information when CI tests fail. To achieve this go

[2022-11-28 21:49] kevin85421 commented on #766
@jasoonn are you interested in this issue?

[2022-11-28 22:07] jasoonn commented on #766
@kevin85421 I am interested in it. I will work on it.

[2022-11-28 22:10] kevin85421 opened #767 "[Feature] Add a hook to check static Rules"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, all Rules in [prototype.py](https://github.com/ray-project/kuberay/blob/79404078bd47e5abc31edba525fe6f95477d239b/tests/framework/prototype.py) are dynamic rules (check when the cluster is actually running). We also need

[2022-11-28 22:13] kevin85421 commented on #763
Assign to the expert of RayJob @architkulkarni. We can schedule a meeting to discuss the plan in the future.

[2022-11-28 22:14] kevin85421 commented on #762
Assign to the expert of RayService @shrekris-anyscale. We can schedule a meeting to discuss the plan.

[2022-11-28 22:32] kevin85421 opened #768 "[Feature] Replace template with jsonpatch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Currently, we use Template (`from string import Template`) to modify YAML files. I proposed to use `jsonpatch` ([example](https://github.com/ray-project/kuberay/blob/master/tests/framework/prototype.py#L471-L505)) to replace `Temp

[2022-11-28 23:20] DmitriGekhtman commented on #765
Yep, sounds about right.

Candidates for the central documented document are raycluster.complete, raycluster.complete.large, raycluster.autoscaler, raycluster.autoscaler.large

We could do `raycluster.complete.large` as the main documented example.
`raycluster.autoscaler.large` could document just autoscaling-related configuration.

The reason for emphasizing the "large" configs is that they are m

[2022-11-28 23:30] DmitriGekhtman commented on #368
cc @kevin85421 @sihanwang41 on the entry-point issues
Link to the discussion: https://ray-distributed.slack.com/archives/C02GFQ82JPM/p1669647595429959

[2022-11-28 23:31] scarlet25151 commented on #754
Here after offline talk with @wilsonwang371 we think we need more precise unit testing to check whether the apiserver generated rayservice and rayjob works well in kubernetes cluster, it may not be ready for both rayservice and rayjob before the release cut this week, we may propose to have it in the next release, WDYT @DmitriGekhtman?

[2022-11-28 23:40] kevin85421 opened #769 "[Feature] Add a test for the document for the Pod security standard in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

Test the document (#750) in CI.

### Use case

_No response_

### Related issues

#750

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-11-29 00:01] kevin85421 commented on #765
We can use a sample YAML file as the central documented document or create a new MarkDown file ([example](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md)). In addition, we can create other documents for different use cases (e.g. Autoscaler, fault tolerance, ... etc).

[2022-11-29 00:34] DmitriGekhtman commented on #754
That sounds fine to me.
I think the actual action item ahead of the release is to clearly document that RayJobs and RayServices are experimental.

[2022-11-29 00:41] DmitriGekhtman commented on #765
It would be great to have 1 documented yaml _and_ a markdown file similar to the one in the Prometheus operator repo for each feature.
If I had to choose between the two, I would go for the professional-looking MD file.

[2022-11-29 01:19] jasoonn commented on #766
@kevin85421 It seems like unittest do not support getting result in ```teardown()```. The only way I found to check if the test pass in ```teardown``` is to access the private field ```self._outcome``` in unittest.TestCase object([reference](https://stackoverflow.com/questions/4414234/getting-pythons-unittest-results-in-a-teardown-method)). Do you think I should implement in this way?

[2022-11-29 06:12] #603 closed

[2022-11-29 12:37] ecm200 opened #770 "[Bug] [Ray Cluster] Installing cluster with Helm chart results in workers not connecting to head node"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/kuberay/issues) and found no similar issues.

### KubeRay Component

Others

### What happened + What you expected to happen

## Problem Summary

This is in relation to starting a `ray cluster` on Kubernetes using the `KubeRay` operator and ray-cluster helm charts.

I successfully stand up a `kuberay operator` u

[2022-11-29 13:59] ecm200 commented on #770
For completeness, here is the `values.yaml` from the `ray-cluster-latest` helm chart (based on the latest commit):

[code]

[2022-11-29 14:05] ecm200 commented on #770
And here is the equivalen `yaml` configuration file used with `kubectl apply` to start a cluster.

**Please note, this way of starting the cluster was successful compared to the above helm chart, which was not.**

[code]

[2022-11-29 14:53] davidxia commented on #670
done in https://github.com/ray-project/kuberay/pull/639

[2022-11-29 14:53] #670 closed

[2022-11-29 17:17] sihanwang41 commented on #647
Not able to make the change before 0.4.0 branch cut, so remove the milestone

[2022-11-29 19:46] kevin85421 opened #771 "[Feature] Make KubernetesClusterManager and CONST in test framework become singletons"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

`class CONST` and `class KubernetesClusterManager` should be singleton classes. However, the singleton design pattern is not encouraged, so we need to consider it thoroughly before we convert these two classes into singleton class

[2022-11-29 20:00] kevin85421 commented on #770
Thank @ecm200 for reporting this issue! I will take a look at this.

[2022-11-29 20:09] kevin85421 opened #772 "[Feature] Define a general-purpose cleanup method for CREvent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/kuberay/issues) and found no similar feature requirement.

### Description

We did not test `ray-cluster.external-redis.yaml` in [test_sample_raycluster_yamls.py](https://github.com/ray-project/kuberay/blob/3a647129e248640f2314bfafd257f6b7a5db232f/tests/framework/test_sample_raycluster_yamls.py) because i

[2022-11-29 21:06] ecm200 commented on #770
@kevin85421 no worries.
Let us know if you require further information.

I can confirm that the `yaml` deployment of the `ray-cluster` using `kubectl apply` is stable and working well.

I've made integrated the `yaml` deployment into a pipeline and made it configurable by using `envsubst` and environment variables, but ideally it would be good to control it using `helm charts`.

[2022-11-30 00:25] kevin85421 commented on #647
@sihanwang41 will you take this issue? If not, this issue can help @architkulkarni familiarize himself with KubeRay.

[2022-11-30 16:50] DmitriGekhtman commented on #764
I think it would be simpler to just use `kubectl exec` for command execution in the tests.
You don't need a proxy container to submit commands.

[2022-11-30 18:05] kevin85421 commented on #756
The possible solution is to combine RayCluster creation and job execution into an atomic operation. For example, we can use `postStart` hook ([Link](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/)) to execute the job.

[2022-11-30 20:05] DmitriGekhtman commented on #756
The thing you have to be careful about with postStart hooks is that their execution is asynchronous relative to the container entrypoint (there's no ordering guarantee).

Related Slack discussion: https://ray-distributed.slack.com/archives/C02GFQ82JPM/p1669647595429959

[2022-11-30 20:59] kevin85421 commented on #618
We should remove all "kubectl wait" because the command does not know the expected state (e.g. how many Pods?) of RayCluster. In addition, https://github.com/ray-project/kuberay/issues/704 will also increase the instability.

[2022-11-30 22:51] kevin85421 commented on #756
Thank you for this information!